{% extends 'student/base.html' %}

{% load base_extras %}

{% block body %}
<div class="login_wrapper">
{#{% show_notifications %}#}
	<h1 class="login">Change Password</h1>
    <form action="{% url 'sign-in' %}" method="post">
        {% csrf_token %}
    	{% for field in form %}
            <label for="id_{{ field.name }}" class="">{{ field.label }}</label>
            {{ field }}
            <br/>
            {% if field.errors %}<span class="help-block danger">{{ field.errors }}</span>{% endif %}
        {% endfor %}
	</form>
	<p id="sign-up">Don't have a profile yet? <a href="{% url 'sign-up' %}"><span>Sign up</span></a></p>
</div>
{% endblock %}
