{% extends 'student/base.html' %}

{% load base_extras %}

{% block body %}
<div class="login_wrapper" id="signinbkgrd">
	<h1 class="login">Forgot Password</h1>
    <form action="" method="post">
        {% csrf_token %}
    	<input type="email" name="email" placeholder="Email"><br>

        <input type="submit" name="submit" value="Continue" class="btn btn-default">
	</form>
	<p id="sign-up" style="color: #000;">Don't have a profile yet? <a href="{% url 'sign-up' %}"><span>Sign up</span></a></p>
</div>
{% endblock %}
