{% extends 'student/base.html' %}

{% load base_extras %}

{% block body %}
<div class="login_wrapper" id="signinbkgrd">
	<h1 class="login">Reset Password</h1>
    <form action="" method="post">
        {% csrf_token %}
    	<input type="hidden" name="email" value="{{email}}" placeholder="Email">
			<input type="hidden" name="token" value="{{token}}" placeholder="Email">

        <input type="password" name="password" placeholder="New Password"><br>
				<input type="password" name="confirm" placeholder="Confirm New Password"><br>

        <input type="submit" name="submit" value="Reset" class="btn btn-default">
	</form>
	<p id="sign-up" style="color: #000;">Don't have a profile yet? <a href="{% url 'sign-up' %}"><span>Sign up</span></a></p>
</div>


{% endblock %}
