{% extends 'student/base.html' %}
{% load staticfiles %}
{% block body %}
        <div class="row" id="signinbkgrd" style="padding-top:100px;">
            <div class="col-md-2"></div>

            <div class="col-md-8 wrapper">
                <h1>Create Your Profile</h1>

                <form action="" method="post" id="userform" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'student/includes/student_profile_form.html' %}
                </form>
            </div>

            <div class="col-md-2"></div>
        </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/student-form.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.bootstrap.wizard.js' %}" type="text/javascript"></script>
{% endblock %}
