<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>ProMazo</title>
<meta name="description" content="ProMazo connects companies with talented college students to perform project-based work during the academic year." />
<meta name="keywords" content="ProMazo,Internships,Students,Company,Notre Dame,University of Notre Dame,Pro Mazo">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/static/images/PM-favicon3.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/static/node_modules/angular/angular.js"></script>
    <script src="/static/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/static/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/static/node_modules/angular-messages/angular-messages.js"></script>
    <script src="/static/node_modules/angular-route/angular-route.js"></script>
    <script src="/static/node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="/static/node_modules/angular-material/angular-material.js"></script>
    <script src="/static/node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
    <script src="/static/node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
    <script src="/static/node_modules/ngImgCrop/compile/minified/ng-img-crop.js"></script>
    <script src="/static/node_modules/angular-resource/angular-resource.min.js"></script>

    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="/static/node_modules/ngImgCrop/compile/minified/ng-img-crop.css">
    <link href="/static/pm-sketch-icons/css/pm-icons-embedded.css" rel="stylesheet" type="text/css">
    <link href="/static/css/how-it-works.css" rel="stylesheet" type="text/css">


    <script src="/static/scripts/controllers/module.js"></script>
    <script src="/static/scripts/controllers/homeController.js"></script>
    <script src="/static/scripts/controllers/authenticationController.js"></script>
    <script src="/static/scripts/controllers/registerController.js"></script>
    <script src="/static/scripts/controllers/toolbarController.js"></script>
    <script src="/static/scripts/controllers/SideNavLeftController.js"></script>
    <script src="/static/scripts/controllers/updateUserController.js"></script>
    <script src="/static/scripts/controllers/skillsController.js"></script>
    <script src="/static/scripts/controllers/ValidationController.js"></script>
    <script src="/static/scripts/controllers/TestsController.js"></script>

    <script src="/static/scripts/directives/directives.js"></script>
    <script src="/static/scripts/factories/Authfactory.js"></script>
    <script src="/static/scripts/factories/ProfileFactory.js"></script>
    <script src="/static/scripts/factories/OrgFactory.js"></script>
    <script src="/static/scripts/factories/Skillsfactory.js"></script>
    <script src="/static/scripts/factories/PodsFactory.js"></script>
    <script src="/static/scripts/factories/TestsResources.js"></script>
    <script src="/static/scripts/factories/QuestionsResource.js"></script>
    <script src="/static/scripts/factories/ProjectResource.js"></script>
    <script src="/static/scripts/factories/ProjectRoleResource.js"></script>
    <script src="/static/scripts/factories/ProjectPlaceResource.js"></script>
    <script src="/static/scripts/factories/ProjectTaskResource.js"></script>
    <script src="/static/scripts/factories/RoleTypeResource.js"></script>


</head>

<body ng-app="promazo" ng-controller="homeController" layout="column" ng-init="{{initData}}">

<!-- if logged in -->
<div ng-if="callType"  class="login_body" layout="column" flex ng-include="'/static/templates/validate/validate.html'"></div>
<div ng-if="!callType" layout="column" flex>
    <div ng-if="currentUser" flex class="user_page" layout="column" ng-include="'/static/templates/user_main.html'"></div>

<!-- if not logged in -->


    <span ng-if="!currentUser" flex layout="column" flex>
        <span ng-switch="micrositePage" layout="column" flex>
            <span ng-switch-when="sign-in" layout="column" flex>
                <div ng-include="'/static/templates/login-page.html'" layout="column" class="login_body" flex></div>
            </span>
            <span ng-switch-when="sign-up" layout="column" flex>
                <div ng-include="'/static/templates/signup-page.html'" layout="column" class="login_body" flex></div>
            </span>

        </span>
    </span>
    </div>
</body>

</html>