<div class="student_page">
<md-toolbar layout="row">

        <md-button ng-click="pageview='home'">home</md-button>
        <md-button ng-click="pageview='profile'">profile</md-button>
        <div flex></div>
        <md-button ng-click="logout()">Sign Out</md-button>

</md-toolbar>

<div ng-switch="pageview" flex >
    <div layout="row" flex ng-switch-when="profile" class="right_page">
        <div flex layout="row" ng-include="'/static/snippets/student/overview.html'"></div>
    </div>
    <div flex layout="row" ng-switch-when="home" class="left_page" >
        <div flex layout="row" ng-include="'/static/snippets/student/profile.html'"></div>

    </div>
</div>
</div>