/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

body, html {
    background-color: gainsboro !important;
}

md-content {
    background-color: transparent;
}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}

.avatar {
    width:200px;
    height:200px;
    border-radius: 100%;
}

.avatar_toolbar {
    margin: 10px 10px 0px 10px;
    border-radius: 5%;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
}

.register {
    overflow: hidden;

}

.register.ng-enter,
.register.ng-show {
    animation: flipInX 1s;

}

.regsiter.ng-leave,
.register.ng-hide {
    animation: flipOutX 1s;
}


.student_toolbar {
    position: fixed;

}

.user_page {
    background: url("/static/images/balloon_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ss_main {
    background: url("/static/images/student_stories_alt.jpg");
    background-size: cover;
    background-position: center;
    z-index: 5;
}

.sss-stu-1 {
    background: #111 url("../images/ss-frank-bg.jpg") top center no-repeat;
    background-size: cover;
}
.sss-stu-2 {
    background: #111 url("../images/ss-sam-bg.jpg") top center no-repeat;
}

.sss-stu-2-crop {
    background: #111 url("../images/ss-sam-crop.jpg") center center no-repeat;
}

.sss-stu-3 {
    background: #111 url("../images/ss-mary-bg.jpg") top center no-repeat;
}

.sss-stu-1-quote {
    background: #111 url("../images/ss-frank-quote.jpg") center center no-repeat;
    background-size: cover;
}

.sss-stu-2-quote {
    background: #111 url("../images/ss-sam-bg.jpg") bottom center no-repeat;
}

.sss-stu-3-quote {
    background: #111 url("../images/ss-mary-quote.jpg") center center no-repeat;
}

.sss-stu-1-t {
    background: #111 url("../images/ss-frank-bg.jpg") center center no-repeat;
}

.sss-stu-2-t {
    background: #111 url("../images/ss-sam-bg.jpg") center center no-repeat;

}

.sss-stu-3-t {
    background: #111 url("../images/ss-mary-bg.jpg") center center no-repeat;
}

.cw_main {
    background: url("/static/images/ibm-1-watson.jpg");
    background-size: cover;
    background-position: center;
    z-index: 5;
}
.cw-corp-1 {
    background: #111 url("/static/images/kmc-1-controls.jpg") center center no-repeat;
}

.cw-corp-2 {
    background: #111 url("/static/images/ninestone-1.jpg") center center no-repeat;
    background-size: cover;
}

.cw-corp-3 {
    background: #111 url("/static/images/5-guys-1-meal.jpg") center center no-repeat;
}

.quote-ibm {
    background: #111 url("../images/bkgrnds/ibm-2-office.jpg") center center no-repeat;
    height:300px;
 }

.quote-kmc {
    background: #111 url("../images/bkgrnds/kmc-2-rooftop-unit.jpg") center center no-repeat;
    background-size: cover;
   height:300px;
 }

.quote-ninestone {
    background: #111 url("../images/bkgrnds/ninestone-2-boston.jpg") center center no-repeat;
   height:300px;
}

.quote-5-guys {
    background: #111 url("../images/bkgrnds/5-guys-2-sign.jpg") center center no-repeat;
   height:300px;
}
.work-story-entry {
    height: 300px;
    color: #fff;
    padding: 0;
    -moz-transition: -moz-transform 0.2s ease 0s;
    -webkit-transition: -webkit-transform 0.2s ease 0s;
    -o-transition: -o-transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
}


.work-story-entry:hover,
.work-story-entry:focus,
.work-story-entry:active {
    -ms-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -o-transform: scale(0.96);
    transform: scale(0.96);
}

.work-story-entry .logo {
    display: block;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-family: Georgia, Cambria, serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: -1px;
}
.teaser {
    height: 200px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 70px;
    z-index: 0;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-transition: -moz-transform 0.2s ease 0s;
    -webkit-transition: -webkit-transform 0.2s ease 0s;
    -o-transition: -o-transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
}

.teaser:hover,
.teaser:focus,
.teaser:active {
    -ms-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -o-transform: scale(0.96);
    transform: scale(0.96);
}


.teaser i {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    padding: 15px 0;
    height: 50px;
    text-align: center;
    font-size: 32px;
}


.ms-headline {
    color: #709900;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top:30px;
}

.partner_logo {
    height:170px;
    margin-top:30px;

}


.skills-list li {
    text-indent: -1.6em;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    -ms-transform: scale(1,0.9);
    -moz-transform: scale(1,0.9);
    -webkit-transform: scale(1,0.9);
    -o-transform: scale(1,0.9);
    transform: scale(1,0.9);
    font-size: 14px;
    line-height: 1.4;
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 20px;
    list-style: outside none none;
}

ul.skills-list li:before {
    font-family: "pm-icons";
    content: "\e803";
    float: left;
    width: 1.6em;
    color: #8eb425;
}
