{% extends 'microsite/base_home.html' %}

{% block page_title %}Case Study: Five Guys{% endblock %}

{% block body %}

<div class="container-fluid white-bg mk-rm-4-teaser">

     <div class="row work-story-detail cs-corp-4">
        <div class="col-sm-12 logo max-660">
            <img src="/static/microsite/images/corp-logos/fiveguys_logo-white.png" alt="Five Guys logo" />
            <p class="med-tagline-prs white-w-shadow work-story-tag">How we helped a top Five Guys Franchisee reduce costs and forecast sales</p>
            <p class="company-description white-w-shadow">Five Guys Burgers & Fries has leapt onto the burger scene in the past decade. Scaling from a few stores to a nationwide footprint, it has doubled the number of restaurants in a three year span. The firm has been successful based on the concept of having a simple menu, but doing those things exceptionally well.</p>
            <p class="bottom-arrow"><a href="#predicting"><i class="icon-pm-down-arrow" style="font-size: 32px"></i></a></p>
       </div>
    </div>

    <a name="predicting"></a>
    <div class="row lt-p50">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <h2 class="sm-heading-pm">Predicting how many burgers a store will flip each day</h2>
            <p class="lg-copy">The leaders of this franchise group are on a mission to understand how to optimize their restaurants. They had developed unique tools/metrics to monitor their business and tasked us with taking them to the next level. The student team built upon their existing infrastructure and developed new tools to manage their franchises, including some to help them forecast demand so they could reduce inventory and labor costs.</p>
            <p class="fun-fact italic"><span class="sm-heading-pm">Fun fact:</span>&ensp;There are 250,000 ways to order a burger at Five Guys</p>
       </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>

    <div class="row ctr-p50 quote quote-5-guys">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 logo">
<!--            <p class="sub-tagline-prs white-w-shadow quote-copy">"This is a quote from a contact at IBM about their experience working with ProMazo. This is a quote from a contact at IBM about their experience working with ProMazo. Presumably positive in tone."</p>
            <p class="attribution">&mdash; Jeff Daniels, Five Guys Franchisee</p>
            -->
       </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row case-study-details">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <h2 class="sm-heading-pm">Team</h2>
            <p class="lg-copy">1 Economics and 2 IT Consulting</p>
        </div>
        <div class="col-sm-3">
            <ul class="skills-list">
                <li>VBA programming</li>
                <li>Modeling & forecasting demand</li>
                <li>In-store implementation strategy/roll-out</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="skills-list">
                <li>Advanced excel work</li>
                <li>Software testing & debugging</li>
                <li>Ongoing support</li>
           </ul>

        </div>
        <div class="col-sm-1"></div>
    </div>
</div> <!--end container-fluid white-->

<div class="container-fluid white-bg">
    <a href="/work/corporate-1">
    <div class="row ctr-p20 cs-corp-1-t teaser">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 logo">
            <p class="sm-heading-pm white-w-shadow space-below-20">Up Next&emsp;IBM</p>
            <p class="sub-tagline-prs white-w-shadow">How we helped IBM adjust recruiting practices to attract Millennials</p>
       </div>
       <div class="col-sm-2"></div>
       <i class="icon-pm-down-arrow white-w-shadow"></i>
    </div>
</div> <!--end container-fluid white-->

{% endblock %}