{% extends 'microsite/base_home.html' %}

{% block page_title %}Case Study: KMC Controls{% endblock %}

{% block body %}

<div class="container-fluid white-bg mk-rm-4-teaser">

     <div class="row work-story-detail cs-corp-2">
        <div class="col-sm-12 logo max-660">
            <img src="/static/microsite/images/corp-logos/kmc_logo-white.png" alt="IBM logo" />
            <p class="med-tagline-prs white-w-shadow work-story-tag">How we helped to ensure their next generation product was ready for the field</p>
            <p class="company-description white-w-shadow">KMC is a leading HVACC controls supplier that has recently teamed with Intel and Dell to deliver a cloud-based revolution in building heating and air systems. Their most recent product, <span class="italic">Conquest</span>, has just been released into the field and will begin worldwide deployment over the next year.</p>
            <p class="bottom-arrow"><a href="#conquest"><i class="icon-pm-down-arrow" style="font-size: 32px"></i></a></p>
       </div>
    </div>

    <a name="conquest"></a>
    <div class="row lt-p50">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <h2 class="sm-heading-pm">Ensuring KMC's Conquest system was ready for its debut</h2>
            <p class="lg-copy">KMC needed to validate its software before the worldwide launch of its new control system. KMC turned to ProMazo to complete the testing of their software over the course of several months. We were required to bring together a diverse team to ensure that both techinical and non-technical employees could understand how to implement the system in the field.</p>
            <p class="fun-fact italic"><span class="sm-heading-pm">Fun fact:</span>&ensp;KMC started in a three-car garage in Manitoba, Canada, even though the founder was from Indiana, where the company is based today</p>
       </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>

    <div class="row ctr-p50 quote quote-kmc">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 logo">
<!--            <p class="sub-tagline-prs white-w-shadow quote-copy">"This is a quote from a contact at KMC about their experience working with ProMazo. This is a quote from a contact at KMC about their experience working with ProMazo. Presumably positive in tone."</p>
            <p class="attribution">&mdash; Jeff Daniels, CEO at KMC Controls</p>
-->
       </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row case-study-details">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <h2 class="sm-heading-pm">Team</h2>
            <p class="lg-copy">3 Engineering PhD’s, 4 Engineers, 3 Marketing, 4 IT Consulting, 2 Economics and 3 Applied Math</p>
        </div>
        <div class="col-sm-3">
            <ul class="skills-list">
                <li>Programming</li>
                <li>Bug identification</li>
                <li>Install multiple builds of the software</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="skills-list">
                <li>Software testing</li>
                <li>Usability Analysis</li>
           </ul>

        </div>
        <div class="col-sm-1"></div>
    </div>
</div> <!--end container-fluid white-->

<div class="container-fluid white-bg">
    <a href="/work/corporate-3">
    <div class="row ctr-p20 cs-corp-3-t teaser">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 logo">
            <p class="sm-heading-pm white-w-shadow space-below-20">Up Next&emsp;Ninestone</p>
            <p class="sub-tagline-prs white-w-shadow">How we established authority and reached new customers in the Healthcare space</p>
       </div>
       <div class="col-sm-2"></div>
       <i class="icon-pm-down-arrow white-w-shadow"></i>
    </div>
</div> <!--end container-fluid white-->

{% endblock %}