{% extends 'microsite/base_home.html' %}

{% block page_title %}Case Study: Ninestone{% endblock %}

{% block body %}

<div class="container-fluid white-bg mk-rm-4-teaser">

     <div class="row work-story-detail cs-corp-3">
        <div class="col-sm-12 logo max-660">
            <img src="/static/microsite/images/corp-logos/ninestone_logo-white.png" alt="Ninestone Consulting logo" />
            <p class="med-tagline-prs white-w-shadow work-story-tag">How we reached new customers and enhanced their authority in the Healthcare space</p>
            <p class="company-description white-w-shadow">Ninestone is a healthcare IT company based in Boston, MA. They have decades of experience in helping public and private healthcare organizations modernize and implement new IT systems. They conduct IT assessments, develop IT strategies and provide training on various IT solutions for their clients. Ninestone has succeeded through hard work and applying their extensive knowledge to new issues in this ever-changing industry.</p>
            <p class="bottom-arrow"><a href="#showcasing"><i class="icon-pm-down-arrow" style="font-size: 32px"></i></a></p>
       </div>
    </div>

    <a name="showcasing"></a>
    <div class="row lt-p50">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <h2 class="sm-heading-pm">Showcasing Ninestone to the world</h2>
            <p class="lg-copy">Ninestone is expanding rapidly and needed assistance in showcasing its brand to new customers. ProMazo helped them cement their authority in the healthcare space through new website/social media content, as well as developing their white papers using pre-med students to provide additonal expertise. In addition to this work, ProMazo also helped craft their expansion into an entirely new market.</p>
            <!-- <p class="fun-fact italic"><span class="sm-heading-pm">Fun fact:</span>&ensp;Ninestone fact here</p> -->
       </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>

    <div class="row ctr-p50 quote quote-ninestone">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 logo">
<!--            <p class="sub-tagline-prs white-w-shadow quote-copy">"This is a quote from a contact at IBM about their experience working with ProMazo. This is a quote from a contact at IBM about their experience working with ProMazo. Presumably positive in tone."</p>
            <p class="attribution">&mdash; Jeff Daniels, CEO at Ninestone</p>
            -->
       </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row case-study-details">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <h2 class="sm-heading-pm">Team</h2>
            <p class="lg-copy">1 Science/Pre-Med, 1 Marketing and 1 Consulting</p>
        </div>
        <div class="col-sm-3">
            <ul class="skills-list">
                <li>New business division strategy</li>
                <li>Content development</li>
                <li>Social media strategy</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="skills-list">
                <li>Search engine optimization</li>
                <li>White paper creation</li>
           </ul>

        </div>
        <div class="col-sm-1"></div>
    </div>
</div> <!--end container-fluid white-->

<div class="container-fluid white-bg">
    <a href="/work/corporate-4">
    <div class="row ctr-p20 cs-corp-4-t teaser">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 logo">
            <p class="sm-heading-pm white-w-shadow space-below-20">Up Next&emsp;Five Guys</p>
            <p class="sub-tagline-prs white-w-shadow">How we helped a top Five Guys Franchisee reduce costs and forecast sales</p>
       </div>
       <div class="col-sm-2"></div>
       <i class="icon-pm-down-arrow white-w-shadow"></i>
    </div>
</div> <!--end container-fluid white-->

{% endblock %}