<div ng-switch="currentPage">
    <div layout="column" layout-gt-sm="row" ng-switch-when="home">
        <div layout="column" flex>
        <!-- column 1 -->
            <md-card md-whiteframe="1">
                <md-toolbar class="md-toolbar-tools inner-toolbar" md-whiteframe="1">
                    <div class="md-headline">My Pods</div>
                </md-toolbar>

                <md-list>
                    <md-list-item ng-repeat="pod in currentPods">
                        {{pod.name}}
                    </md-list-item>
                </md-list>

            </md-card>

            <md-card md-whiteframe="1">
                <md-toolbar class="md-toolbar-tools inner-toolbar" md-whiteframe="1">
                    <div class="md-headline">My Projects</div>
                </md-toolbar>
                <md-list>
                    <md-list-item ng-repeat="pod in currentPods">
                        {{pod.name}}
                    </md-list-item>
                </md-list>

            </md-card>

        </div>

        <div layout="column"flex>
        <!-- column 2 -->
            <md-card md-whiteframe="1">
                <md-toolbar class="md-toolbar-tools inner-toolbar" md-whiteframe="1">
                    <div class="md-headline">Messages</div>
                </md-toolbar>
                <md-list>
                    <md-list-item ng-repeat="pod in currentPods">
                        {{pod.name}}
                    </md-list-item>
                </md-list>

            </md-card>

            <md-card md-whiteframe="1">
                <md-toolbar class="md-toolbar-tools inner-toolbar" md-whiteframe="1">
                    <div class="md-headline">Applications</div>
                </md-toolbar>
                <md-list>
                    <md-list-item ng-repeat="pod in currentPods">
                        {{pod.name}}
                    </md-list-item>
                </md-list>

            </md-card>
        </div>


    </div>

</div>