<div class="signup" ng-controller="authenticationController" flex >
<span ng-include="'/static/templates/login_toolbar.html'" ></span>
<md-content layout="column" layout-align="center none" style="z-index:1;">

    <div layout="column" flex layout-align="start stretch">
        <div class="cw-corp-2">
            <div style="height:150px"></div>
        <div layout="column" layout-align="center center" style="height:320px; margin-bottom: 50px;">
            <img style="width: 200px;" src="/static/images/ninestone_logo-white.png"/>
            <br><br>
                <div class="md-display-1 text-white tag-line">How we reached new customers and enhanced their authority in the Healthcare space</div>
            <br>
            <div layout="row">

                <div flex></div>
                <div class="text-white tag-line md-headline" style="text-align: center" flex-gt-sm="40">Ninestone is a healthcare IT company based in Boston, MA. They have decades of experience in helping public and private healthcare organizations modernize and implement new IT systems. They conduct IT assessments, develop IT strategies and provide training on various IT solutions for their clients. Ninestone has succeeded through hard work and applying their extensive knowledge to new issues in this ever-changing industry.
</div>
                <div flex></div>
            </div>

        </div>
            <div style="height:70px;"></div>
        </div>

    <div layout="row" layout-align="center center" style="background-color: whitesmoke">
        <div flex></div>
        <div flex-gt-sm="50" layout="column">
            <div class="ms-headline">SHOWCASING NINESTONE TO THE WORLD</div>
            <div class="tag-line md-headline">Ninestone is expanding rapidly and needed assistance in showcasing its brand to new customers. ProMazo helped them cement their authority in the healthcare space through new website/social media content, as well as developing their white papers using pre-med students to provide additonal expertise. In addition to this work, ProMazo also helped craft their expansion into an entirely new market.</div>
            <div style="height:30px;"></div>

            <div style="height:30px;"></div>
        </div>
            <div flex></div>
    </div>

    <div layout="row" layout-align="center center" class="quote-ninestone">

    </div>

    <div layout="column" layout-gt-sm="row" layout-align="center stretch" style="background-color: whitesmoke;padding-top-20px;padding-bottom: 20px;">
        <div flex-offset-gt-sm="15" flex="25" layout="column" layout-align="center start">
            <div class="ms-headline">Team</div>
            <div class="md-headline tag-line">1 Science/Pre-Med, 1 Marketing and 1 Consulting</div>

        </div>

        <div flex="25">

            <ul class="skills-list">
                <li>New business division strategy</li>
                <li>Content development</li>
                <li>Social media strategy</li>
            </ul>


        </div>

        <div flex="25">

            <ul class="skills-list">
                <li>Search engine optimization</li>
                <li>White paper creation</li>
           </ul>
        </div>
        <div flex></div>
    </div>

    </div>




</md-content>
<div layout="column" flex style="height:300px; z-index:-9999">Hidden section</div>
</div>



<div layout="column" flex
     style="background-image: url('/static/images/5-guys-1-meal.jpg'); background-position: center; position: fixed;z-index:0;left:0; bottom:0; height:300px; width:100%"
     layout="center center" ng-click="setMicrositePage('cw-corp-4')">
    <div flex></div>
    <div layout="row" layout-align="center center" >
    <div class="text-white tag-line md-headline">Up Next&emsp;Five Guys</div>
    </div>
    <div layout="row" layout-align="center center">
    <div class="tag-line text-white md-headline" style="padding-bottom: 50px; padding-top: 10px;"  ng-click="setMicrositePage('cw-corp-4')">How we helped a top Five Guys Franchisee reduce costs and forecast sales</div>
    </div>
    <div layout="row" layout-align="center center" class="md-padding">
    <md-icon class="text-white" style="font-size: 50px;">keyboard_arrow_down</md-icon>
    </div>
    <div style="background-color: black;">
        <div layout="row">
            <md-icon md-svg-icon="Extras:facebook-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:tumblr" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:linkedin-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <div flex></div>
            <div layout="column" class="text-white md-padding" layout-align="end end">
                <div><md-icon style="color:lightgray">copyright</md-icon>2015  questions@promazo.com  Notre Dame, IN 46556</div>
                <div>(858) 245-9965</div>

            </div>
        </div>
    </div>
</div>
</div>
