<div class="signup" ng-controller="authenticationController" flex >
<span ng-include="'/static/templates/login_toolbar.html'" ></span>
<md-content layout="column" layout-align="center none" style="z-index:1;">

    <div layout="column" flex layout-align="start stretch">
        <div class="sss-stu-2">
            <div style="height:150px"></div>
        <div layout="column" layout-gt-sm="row" layout-align="start center" style="height:120px; margin-bottom: 50px;">
            <img style="border-radius: 100%; height:200px; width: 200px;" src="/static/images/ss-sam-profile.jpg" flex-offset-gt-sm="10"/>
            <div layout="column" flex flex-offset-gt-sm="5">
                <div class="md-display-1 text-white tag-line">Sam Melgar</div>
                <div class="text-white tag-line md-headline">Class of 2016</div>
                <div class="text-white tag-line md-headline">University of Notre Dame</div>
                <div class="text-white tag-line md-headline">IT Management</div>
            </div>

        </div>
            <div style="height:70px;"></div>
        </div>
        <div layout="column" layout-gt-sm="row" layout-align="center center" style="background-color: lightgray;height:70px;">
            <div flex></div>
            <div style="color: #709900;">INTERESTS:</div>
            <div flex-offset="5">CYCLING</div>
            <div flex-offset="5">TECHNOLOGY</div>
            <div flex-offset="5">VISUAL DATA</div>
            <div flex-offset="5">GOOD DOCUMENTARIES</div>
            <div flex></div>
        </div>
        <div layout="column" layout-gt-sm="row" layout-align="center center" style="background-color: whitesmoke;height:90px;">
            <div flex></div>
            <div style="color: #709900;">FUN FACT:</div>
            <div flex-offset="5" class="tag-line">Participated in the 2010 Youth Olympic Games.</div>
            <div flex></div>
        </div>
    <div  layout="row" layout-align="center center" class="sss-stu-2-quote" flex>
        <div flex></div>
        <div layout="column" layout-align="center center" flex-gt-sm="50">
            <p class="tag-line md-headline text-white" style="font-style: italic">"I first joined ProMazo hoping to learn the job skills that I would need later in life. Working with my project team, I not only gained these skills, but also became part of the ProMazo community and grew as a person."</p>
            <p class=" text-white md-headline">&mdash; Sam Melgar</p>
        </div>
        <div flex></div>
    </div>

    <div layout="row" layout-align="center center" style="background-color: whitesmoke">
        <div flex></div>
        <div flex-gt-sm="50" layout="column">
            <div class="ms-headline">Why did you join ProMazo?</div>
            <p class="tag-line" style="font-style: italic">I joined ProMazo because I wanted to extend my education beyond classroom walls and did not want to wait until after college to begin that kind of learning.</p>
            <div class="ms-headline">What have you learned?</div>
            <p class="tag-line" style="font-style: italic">As an IT Management major working on an IT project, I learned so much about the system development process and gained very useful skills within the field. ProMazo also provided me with great exposure to what doing real work with a team is like. Through the experience, I learned how to be a better leader and follower. I learned that the two are not mutually exclusive and, at their best, are inextricably linked.</p>
            <div class="ms-headline">What is the most interesting thing you have done?</div>
            <p class="tag-line" style="font-style: italic">Many stages of the project were really interesting, but the most memorable one came when the tools we developed for our project were released. We received positive feedback from users who could see the tools making a difference in their lives. Knowing that we played a role in making it happen, it was a great feeling to have.</p>
            <div class="ms-headline">How did ProMazo help you determine what you want to do?</div>
            <p class="tag-line" style="font-style: italic">ProMazo provided me with real experience working in my field of interest before graduating. It allowed me to learn more about myself and where I see myself in the future. I also think it provided a realistic view of what IT Consulting is like and as a result of my experiences has gotten me hooked on the field.</p>
            <div class="ms-headline">How did ProMazo prepare you for life after college?</div>
            <p class="tag-line" style="font-style: italic">I feel more ready to start post-college life with a running start. I’ve experienced what it’s like to collaborate with a team producing work for real clients. I believe the best way to learn some things is by doing them. ProMazo has given me the opportunity to learn by doing, while providing support and guidance as I learned.</p>
        </div>
        <div flex></div>
    </div>

    </div>




</md-content>
<div layout="column" flex style="height:300px; z-index:-9999">Hidden section</div>
</div>



<div layout="column" flex
     style="background-image: url('/static/images/ss-mary-bg.jpg'); background-position: center; position: fixed;z-index:0;left:0; bottom:0; height:300px; width:100%"
     layout="center center" ng-click="setMicrositePage('ss-stu-3')">
    <div flex></div>
    <div layout="row" layout-align="center center" >
    <div class="text-white tag-line md-headline">Up Next&emsp;Mary Schlegel</div>
    </div>
    <div layout="row" layout-align="center center">
    <div class="tag-line text-white md-headline" style="padding-bottom: 50px; padding-top: 10px;"  ng-click="setMicrositePage('ss-stu-3')">Promazo continues to be an education unlike anything I have ever experienced before</div>
    </div>
    <div layout="row" layout-align="center center" class="md-padding">
    <md-icon class="text-white" style="font-size: 50px;">keyboard_arrow_down</md-icon>
    </div>
    <div style="background-color: black;">
        <div layout="row">
            <md-icon md-svg-icon="Extras:facebook-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:tumblr" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:linkedin-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <div flex></div>
            <div layout="column" class="text-white md-padding" layout-align="end end">
                <div><md-icon style="color:lightgray">copyright</md-icon>2015  questions@promazo.com  Notre Dame, IN 46556</div>
                <div>(858) 245-9965</div>

            </div>
        </div>
    </div>
</div>
</div>
