<div class="signup" ng-controller="authenticationController" flex >
<span ng-include="'/static/templates/login_toolbar.html'" ></span>
<md-content layout="column" layout-align="center none" style="z-index:1;">

    <div layout="column" flex layout-align="start stretch">
        <div class="cw_main">
            <div style="height:150px"></div>
        <div layout="column" layout-align="center center" style="height:320px; margin-bottom: 50px;">
            <img style="width: 200px;" src="/static/images/ibm_logo-white.png"/>
            <br><br>
                <div class="md-display-1 text-white tag-line">How we helped IBM adjust recruiting practices to attract Millennials</div>
            <br>
            <div layout="row">

                <div flex></div>
                <div class="text-white tag-line md-headline" style="text-align: center" flex-gt-sm="40">IBM is an American icon. Over the years they have transformed themselves from a computer company to one of the largest business consulting organizations. Initiatives such as Watson and Smarter Planet have changed the world and impacted millions of people.</div>
                <div flex></div>
            </div>

        </div>
            <div style="height:70px;"></div>
        </div>

    <div layout="row" layout-align="center center" style="background-color: whitesmoke">
        <div flex></div>
        <div flex-gt-sm="50" layout="column">
            <div class="ms-headline">Big Blue in the eyes of the Millennial Recruit</div>
            <div class="tag-line md-headline">IBM wanted to reimagine what recruiting looked like in the 21st century and tasked ProMazo to develop recommendations for how they could better reach Millennials. The ProMazo team analyzed every aspect of the recruiting process, from IBM’s social media accounts to determining how to streamline their recruiting website.</div>
            <div style="height:30px;"></div>
            <div layout="row" layout-align="start center">
                <div style="color: #709900;">FUN FACT:</div>
                <div flex-offset="5" class="tag-line md-headline">&ensp;In 2008, IBM became the first company ever to file 4,000 patents in a year</div>
            </div>
            <div style="height:30px;"></div>
        </div>
            <div flex></div>
    </div>

    <div layout="row" layout-align="center center" class="quote-ibm">

    </div>

    <div layout="column" layout-gt-sm="row" layout-align="center stretch" style="background-color: whitesmoke;padding-top-20px;padding-bottom: 20px;">
        <div flex-offset-gt-sm="15" flex="25" layout="column" layout-align="center start">
            <div class="ms-headline">Team</div>
            <div class="md-headline tag-line">2 MBA’s, 2 Engineers, 1 Marketing, 1 IT Consulting and 1 Psychology</div>

        </div>

        <div flex="25">

            <ul class="skills-list">
                <li>Social media strategy</li>
                <li>Content development</li>
                <li>Website analysis / recommendations</li>
            </ul>


        </div>

        <div flex="25">

            <ul class="skills-list">
                <li>Database analysis</li>
                <li>Brand positioning</li>
                <li>Comprehensive recruiting strategy</li>
           </ul>
        </div>
        <div flex></div>
    </div>

    </div>




</md-content>
<div layout="column" flex style="height:300px; z-index:-9999">Hidden section</div>
</div>



<div layout="column" flex
     style="background-image: url('/static/images/kmc-1-controls.jpg'); background-position: center; position: fixed;z-index:0;left:0; bottom:0; height:300px; width:100%"
     layout="center center" ng-click="setMicrositePage('cw-corp-2')">
    <div flex></div>
    <div layout="row" layout-align="center center" >
    <div class="text-white tag-line md-headline">Up Next&emsp;KMC Controls</div>
    </div>
    <div layout="row" layout-align="center center">
    <div class="tag-line text-white md-headline" style="padding-bottom: 50px; padding-top: 10px;"  ng-click="setMicrositePage('cw-corp-2')">How we helped to ensure their next generation product was ready for the field</div>
    </div>
    <div layout="row" layout-align="center center" class="md-padding">
    <md-icon class="text-white" style="font-size: 50px;">keyboard_arrow_down</md-icon>
    </div>
    <div style="background-color: black;">
        <div layout="row">
            <md-icon md-svg-icon="Extras:facebook-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:tumblr" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:linkedin-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <div flex></div>
            <div layout="column" class="text-white md-padding" layout-align="end end">
                <div><md-icon style="color:lightgray">copyright</md-icon>2015  questions@promazo.com  Notre Dame, IN 46556</div>
                <div>(858) 245-9965</div>

            </div>
        </div>
    </div>
</div>
</div>
