<div class="signup" ng-controller="authenticationController" flex >
<span ng-include="'/static/templates/login_toolbar.html'" ></span>
<md-content layout="column" layout-align="center none">


<div layout="column" style="z-index:1" flex layout-align="center stretch" >
    <div class="ss_main">
    <div style="height:150px;"></div>
<div layout="column" layout-gt-sm="row" layout-align="center center" style="height:120px; margin-bottom: 50px;">
    <div class="tag-line md-headline text-white" style="text-align: center">FEATURED</div>
    <div style="text-align: center;" flex-offset="5"><img style="width:100px;height:100px;" src="/static/images/PM-Logo.png" /></div>
    <div  flex-offset="5" class="tag-line md-headline text-white" style="text-align: center">STUDENTS</div>
    <br><br>
</div>
<div class="text-white tag-line md-display-1" layout="column" layout-align="center center" style="margin-bottom: 50px;">ProMazo is a family. Meet some of our aulms</div>

<div layout="column" layout-align="center stretch" style="background-color: black" flex>
   <div  layout="column" layout-align="start center" class="work-story-entry sss-stu-1" flex ng-click="setMicrositePage('ss-stu-1')">
        <div class="logo">
            <p class="white-w-shadow">Frank Somich<i class="icon-pm-students-b7" style="font-size: 75px"></i></p>
        </div>
    </div>
</div>
</div>
<div layout="column" layout-align="center stretch" style="background-color: black" flex>
    <div  layout="column" layout-align="start center" class="work-story-entry sss-stu-2-crop" flex ng-click="setMicrositePage('ss-stu-2')">
        <div class="logo">
            <p class="white-w-shadow"><i class="icon-pm-students-c7" style="font-size: 75px"></i>Sam Melgar</p>
        </div>
    </div>
</div>

<div layout="column" layout-align="center stretch" style="background-color: black" flex>
    <div  layout="column" layout-align="start center" class="work-story-entry sss-stu-3" flex ng-click="setMicrositePage('ss-stu-3')">
        <div class="logo">
            <p class="white-w-shadow">Mary Schlegel<i class="icon-pm-students-c5" style="font-size: 75px"></i></p>
        </div>
    </div>
</div>

</div>

<div layout="column"  style="height:300px; z-index:-9999;background-color: black;"></div>
<div layout="column" flex  class="teaser"
     style="background: #111 url('/static/images/mary-presenting-4.jpg') top center no-repeat; position: fixed;z-index:0;left:0; bottom:0; height:400px; width:100%" layout="center center">
    <div flex></div>
    <div layout="row" layout-align="center start ">
    <div class="text-white tag-line md-headline" >UP NEXT&emsp;ABOUT US</div>
    </div>
    <div layout="row" layout-align="center start">
    <div class="tag-line text-white md-headline" style="padding-bottom: 50px; padding-top: 10px;">What makes us <span class="italic">click</span></div>
    </div>
    <div layout="row" layout-align="center start">
    <md-icon class="text-white" style="font-size: 50px;">keyboard_arrow_down</md-icon>
     </div>
    <div flex><br></div>
</div>
    <div style="background-color: black; z-index:5;">
        <div layout="row">
            <md-icon md-svg-icon="Extras:facebook-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:tumblr" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:linkedin-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <div flex></div>
            <div layout="column" class="text-white md-padding" layout-align="end end">
                <div><md-icon style="color:lightgray">copyright</md-icon>2015  questions@promazo.com  Notre Dame, IN 46556</div>
                <div>(858) 245-9965</div>

            </div>
        </div>
    </div>