<div class="signup" ng-controller="authenticationController" flex >
<span ng-include="'/static/templates/login_toolbar.html'" ></span>
<md-content layout="column" layout-align="center none">


<div layout="column" style="z-index:1" flex layout-align="center stretch" >
 <div class="stu_hiw">
    <div style="height:150px;"></div>
<div layout="column" layout-align="center center" style="height:200px;">
    <div class="tag-line md-headline text-white" style="text-align: center">USE THOSE HOURS BEFORE/AFTER CLASS TO</div>
    <div class="tag-line md-display-2 text-white" style="text-align: center; border-top:1px solid white;border-bottom:1px solid white;">Gain real world experience without leaving campus</div>
    <div class="tag-line md-headline text-white" style="text-align: center">WHILE FINDING OUT WHAT MAKES YOU TICK</div>
    <br><br>
</div>
    <br><br><br>


<div style="background-color: white;min-height:100px;" layout-align="center center" flex layout="column">
    <div layout="column" layout-align="center center" layout-gt-sm="row" flex style="color:#06A !important">
            <div class="tag-line md-display-1">Introducing ProMazo:</div>
            <div class="tag-line md-headline">A new way to build your resume</div>
    </div>
</div>
</div>
<div layout="column" layout-align="center center" flex>
<div layout="column" layout-gt-sm="row" id="how-it-works-diagram" layout-align="center center" flex style="background-color: whitesmoke">
    <div flex="30">
        <div id="student-path">
            <i class="icon-pm-path place-path"></i>
            <span class="upload-step stage"><i class="icon-pm-publish"></i>Upload</span>
            <p class="ds hidden-text"><b>Upload</b> your r&eacute;sum&eacute; into our talent database.</p>
            <p class="flag-step stage"><i class="icon-pm-flag"></i><br />Flag</p>
            <p class="hidden-text"><b>Flag</b> companies and apply to projects that match your interests.</p>
            <span class="search-step stage two-line-title"><i class="icon-pm-search"></i>Search & Screen</span>
            <p class="hidden-text">Companies <b>Search & Screen</b> our talent database to find the perfect candidates for their projects.</p>
            <span class="collaborate-step stage"><i class="icon-pm-collaborate"></i>Collaborate</span>
            <p class="hidden-text"><b>Collaborate</b> virtually through a semester just like regular employees. PM will support both parties to ensure that everything is satisfactory.</p>
            <span class="complete-step stage"><i class="icon-pm-complete"></i>Complete</span>
            <p class="hidden-text"><b>Complete</b> the project, turn over all work to your company and get paid upon approval.</p>
            <span class="join-step stage"><i class="icon-pm-create"></i><br />Next</span>
            <p class="hidden-text"><b>Next</b>, select a new project or stick with the same company.</p>
        </div>
    </div>
    <div layout="column" flex="10" layout-align="center start">
        <div class="tag-line md-display-1">How it Works</div>
        <div class="tag-line md-headline">Looking to connect with companies that match your interests and passions? Upload your resume, flag companies and projects, then collaborate virtually through a semester just like a regular employee. Upon completion, you can choose to continue working with the same company or join a new one.</div>
    </div>
    <div flex></div>

</div>
</div>



<div flex style="background-image: url('/static/images/Campus.jpg');background-repeat: no-repeat;background-position:center; min-height:200px;" layout-align="center stretch">
    <div layout="row" flex layout-xs="column" layout-sm="column" layout-align="center stretch" style="min-height:200px;">
        <div layout="column" layout-align="center start" class="md-padding" >
            <div class="tag-line text-white md-display-3">What can you do with ProMazo?</div>
        </div>
    </div>

</div>


<div class="projects3 projects3-student" layout="row" flex style="background-color: white">
    <div flex-offset="5">
    	<div id="proj-support" class="proj-reveal proj-reveal-student " ng-class="ani_classes.pr1" ng-click="toggleProjects(1)">
        	<i class="icon-pm-internships"></i>
        	<h3 class="sm-heading-pm">Internships</h3>
            <p>First time with ProMazo? Don’t know what virtual work is like? Have a packed schedule this semester? Our internships allow you to hone your skills while learning what types of professions you might be interested in.</p>
            <ul class="icon more-info">
                <li>We highly recommend you start with one of these opportunities before applying for a consulting project, because previous ProMazo internships are the number one factor in determining placement for consulting, especially if you are freshman or sophomore.</li>
            </ul>
        </div>
    </div>
    <div flex-offset="5">
    	<div id="proj-exploratory" class="proj-reveal proj-reveal-student " ng-class="ani_classes.pr2" ng-click="toggleProjects(2)">
        	<i class="icon-pm-consulting"></i>
        	<h3 class="sm-heading-pm">Consulting</h3>
            <p>Ready to take the next step? ProMazo consulting experiences allow you to take a deep dive into an industry. However, with this increased focus comes additional responsiblity.</p>
            <ul class="icon more-info">
                <li>These projects require more dedication/time and a demonstrated level of expertise in the field, communication and time management. We HIGHLY recommend completing a ProMazo internship before applying for a consulting project.</li>
           </ul>
        </div>
    </div>
    <div flex-offset="5">
    	<div id="proj-immediate"class="proj-reveal proj-reveal-student " ng-class="ani_classes.pr3" ng-click="toggleProjects(3)" >
        	<i class="icon-pm-board"></i>
        	<h3 class="sm-heading-pm">Chapter Council</h3>
            <p>The council functions as the face of ProMazo at the university, and as such requires a high level of dedication and a proven ability to succeed in unstructured environments.</p>
            <ul class="icon more-info">
                <li>As a council member you will lead teams, meet with corporate representatives and customize ProMazo for your school. The Council Members represent the very best of ProMazo and as such receive a substantial amount of responsibility and invaluable management experience.</li>
            </ul>
        </div>
	</div>
    <div flex="5"></div>
</div>

    <div layout="row" layout-align="center center" style="background-color: whitesmoke">
        <div flex="70">
            <div class="tag-line md-display-1" style="color: #709900;">Learn & Explore</div>
            <p class="tag-line md-headline">Imagine walking into an interview. The interviewer is asking all sorts of behavioral and potentially industry-specific questions. But what they really want to know is can you handle the responsibilities of a real job and what you have done that sets you apart?</p>
            <p class="tag-line md-headline">What if you could tell them how you just finished helping a start-up build their fundraising pitchbook, or how the semester before you developed a marketing plan for a new product and worked with a team of engineers to create the prototype? And finally, this year how you’ll be managing a team of 10 conducting financial research for a large Wall Street bank. Do you think they would be impressed? With ProMazo that <span class="bld">possibility becomes reality</span>. We provide you with the opportunities to determine what you really want to do, while gaining real world experience without leaving campus.</p>
       </div>
    </div>

<div layout="column" flex  style="padding-top:20px;" class="benefits student-benefits" layout-align="center stretch">
    <div layout="row">
        <div flex></div>
        <div class="text-white md-display-2">Student Benefits</div>
        <div flex></div>
    </div>
    <div layout="column" layout-gt-sm="row">
        <div  class="ben-reveal" id="sben-skills" flex ng-class="ani_classes.pr4" ng-click="toggleProjects(4)" flex-offset="5">
            <i class="icon-pm-build-skills"></i>
            <h3>Build your skills</h3>
            <ul class="more-info">
                <li>Gain over two years of work experience with some of the top companies in the nation/world.</li>
                <li>Showcase your leadership skills when you manage a small team during your senior year.</li>
            </ul>
        </div>
        <div class="ben-reveal" id="sben-passions" flex ng-class="ani_classes.pr5" ng-click="toggleProjects(5)" flex-offset="5">
            <i class="icon-pm-exploratory"></i>
            <h3>Explore your passions</h3>
            <ul class="more-info">
                <li>Take a chance and do something you've always dreamt of but didn't fit on your "track", like working for a startup, a large company, or an international organization.</li>
                <li>Ensure that your selected major or profession is right for you.</li>
            </ul>
         </div>
        <div class="ben-reveal" id="sben-connections" flex ng-class="ani_classes.pr6" ng-click="toggleProjects(6)" flex-offset="5">
            <i class="icon-pm-connections"></i>
            <h3>Make connections</h3>
            <ul class="more-info">
                <li>Personally connect with companies you want to work for after graduation.</li>
                <li>Meet future bosses, coworkers, and peers, making sure that the company is a match for you.</li>
            </ul>
        </div>
        <div class="ben-reveal" id="sben-paid" flex ng-class="ani_classes.pr7" ng-click="toggleProjects(7)" flex-offset="5">
            <i class="icon-pm-get-paid"></i>
            <h3>Get paid</h3>
            <ul class="more-info">
                <li>Receive some of the highest wages on campus.</li>
                <li>Have extra spending money for the weekend, traveling or bills.</li>
            </ul>
        </div>
    </div>
    <div layout="row" flex layout-align="center stretch">
        <div class="get-started" flex>
            <span class="tag-line" style="font-style: italic">Ready to get started?</span>
            <md-button style="border:1px solid #f26f70;"><div style="color:#f26f70;padding-left:20px;padding-right: 20px;">Sign Up</div></md-button>
        </div>
    </div>
</div>



</div>
</md-content>

<div layout="column" flex style="height:300px; z-index:-9999">Hidden section</div>



<div layout="column" flex
     style="background-image: url('/static/images/ucla-2.jpg'); background-position: center; position: fixed;z-index:0;left:0; bottom:0; height:300px; width:100%"
     layout="center center" ng-click="setMicrositePage('ss_main')">
    <div flex></div>
    <div layout="row" layout-align="center center" >
    <div class="text-white tag-line md-headline" >UP NEXT STUDENT STORIES</div>
    </div>
    <div layout="row" layout-align="center center">
    <div class="tag-line text-white md-headline" style="padding-bottom: 50px; padding-top: 10px;"  ng-click="setMicrositePage('ss_main')">Don't take our word for it.. See what students are saying.</div>
    </div>
    <div layout="row" layout-align="center center" class="md-padding">
    <md-icon class="text-white" style="font-size: 50px;">keyboard_arrow_down</md-icon>
    </div>
    <div style="background-color: black;">
        <div layout="row">
            <md-icon md-svg-icon="Extras:facebook-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:tumblr" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:linkedin-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <div flex></div>
            <div layout="column" class="text-white md-padding" layout-align="end end">
                <div><md-icon style="color:lightgray">copyright</md-icon>2015  questions@promazo.com  Notre Dame, IN 46556</div>
                <div>(858) 245-9965</div>

            </div>
        </div>
    </div>
</div>
</div>
