<div class="signup" ng-controller="authenticationController" flex >
<span ng-include="'/static/templates/login_toolbar.html'" ></span>
<md-content layout="column" layout-align="center none" style="margin-top:60px; z-index:1;">


<div layout="column" style="margin-top:100px; " flex layout-align="center stretch">
<div layout="column" layout-align="center center" style="height:200px;">
    <div class="tag-line md-headline text-white" style="text-align: center">THERE's ALWAYS MORE WORK THAN TIME IN THE DAY</div>
    <div class="tag-line md-display-2 text-white" style="text-align: center; border-top:1px solid white;border-bottom:1px solid white;">Reinvent how you get work done</div>
    <div class="tag-line md-headline text-white" style="text-align: center">WHILE RECRUITING NEW TALENT</div>
    <br><br>
</div>
    <br><br><br>


<div style="background-color: white;min-height:100px;" layout-align="center center" flex layout="column">
    <div layout="column" layout-align="center center" layout-gt-sm="row" flex style="color:#06A !important">
            <div class="tag-line md-display-1">Introducing ProMazo:</div>
            <div class="tag-line md-headline">A new way to get work done</div>
    </div>
</div>
<div layout="column" layout-align="center center" flex>
<div layout="column" layout-gt-sm="row" id="how-it-works-diagram" layout-align="center center" flex style="background-color: whitesmoke">
    <div flex="30">
        <div id="company-path">
            <i class="icon-pm-path place-path"></i>
            <span class="discuss-step stage"><i class="icon-pm-discuss"></i></i>Discuss</span>
            <p class="ds hidden-text"><b>Discuss</b> your goal in collaborating with us &mdash; recruitment, completing work or both.</p>
            <span class="publish-step stage"><i class="icon-pm-publish"></i></i>Publish</span>
            <p class="hidden-text"><b>Publish</b> your projects to be completed on our website.</p>
            <span class="search-step stage two-line-title"><i class="icon-pm-search"></i></i>Search & Screen</span>
            <p class="hidden-text"><b>Search & Screen</b> our talent database to find the perfect candidates for your projects.</p>
            <span class="collaborate-step stage"><i class="icon-pm-collaborate"></i></i>Collaborate</span>
            <p class="hidden-text"><b>Collaborate</b> virtually through a semester just like regular employees. PM will support both parties to ensure that everything is satisfactory.</p>
            <span class="complete-step stage"><i class="icon-pm-complete"></i></i>Complete</span>
            <p class="hidden-text">Once <b>Complete</b>, students turn over all work to their company and are paid upon approval.</p>
            <span class="create-step stage"><i class="icon-pm-create"></i></i>Create</span>
            <p class="hidden-text">Companies can then <b>Create</b> new projects for the same students or search for new talent.</p>
        </div>
    </div>
    <div layout="column" flex="10" layout-align="center start">
        <div class="tag-line md-display-1">How it Works</div>
        <div class="tag-line md-headline">Looking to find and leverage high-quality talent economically? Discuss your goals with us, publish your projects, search and screen our talent database. Then collaborate virtually throughout a semester just like a regular employee. Upon completion, you can choose to continue working with the same students or search for new ones.</div>
    </div>
    <div flex></div>

</div>
</div>



<div flex style="background-image: url('/static/images/Campus.jpg');background-repeat: no-repeat;background-position:center; min-height:200px;" layout-align="center stretch">
    <div layout="row" flex layout-xs="column" layout-sm="column" layout-align="center stretch" style="min-height:200px;">
        <div layout="column" layout-align="center start" class="md-padding" >
            <div class="tag-line text-white md-display-3">What can student consultants do?</div>
        </div>
    </div>

</div>


<div class="projects3" layout="row" flex style="background-color: white">
    <div flex-offset="5">
    	<div id="proj-support" class="proj-reveal proj-reveal-company" ng-class="ani_classes.pr1" ng-click="toggleProjects(1)" >
        	<i class="icon-pm-support"></i>
        	<h3 class="sm-heading-pm">Support</h3>
            <p>ProMazo consultants can provide assistance to your team.</p>
            <ul class="icon more-info">
                <li>Backend processing & paperwork</li>
                <li>Programming & database design</li>
                <li>Product evaluation & marketing plans</li>
                <li>Software design</li>
            </ul>
        </div>
    </div>
    <div flex-offset="5">
    	<div id="proj-exploratory" class="proj-reveal proj-reveal-company" ng-class="ani_classes.pr2" ng-click="toggleProjects(2)" >
        	<i class="icon-pm-exploratory"></i>
        	<h3 class="sm-heading-pm">Exploratory</h3>
            <p>Low-risk & high-reward, ProMazo offers new opportunities.</p>
            <ul class="icon more-info">
                <li>Market Analysis</li>
                <li>Research</li>
                <li>Surveys</li>
                <li>Financial Modeling</li>
            </ul>
        </div>
    </div>
    <div flex-offset="5">
    	<div id="proj-immediate"class="proj-reveal proj-reveal-company" ng-class="ani_classes.pr3" ng-click="toggleProjects(3)" >
        	<i class="icon-pm-immediate"></i>
        	<h3 class="sm-heading-pm">Immediate</h3>
            <p>If you have a short-term deadline to meet ProMazo can help.</p>
            <ul class="icon more-info">
                <li>Product Testing, Systems Analytics, Debugging</li>
                <li>Last Minute Industry Research</li>
                <li>Presentation Design</li>
                <li>Any Currently Outsourced Work</li>
            </ul>
        </div>
	</div>
    <div flex="5"></div>
</div>

    <div layout="row" layout-align="center center" style="background-color: whitesmoke">
        <div flex="70">
            <div class="tag-line md-display-1" style="color: #709900;">Analyze Talent & Finish Work</div>
            <p class="tag-line md-headline">ProMazo challenges the assumption that recruiting college grads is costly. ProMazo drives down hiring costs by tapping into an educated, underutilized student workforce and enables companies to test drive them through virtual real-world projects during college. <span style="font-style: italic">The savings allow you to work with five times the number of students compared to traditional recruiting methods, and evaluate students over multiple years.</span></p>
       </div>
    </div>

<div layout="column" flex  style="padding-top:20px;" class="benefits company-benefits" layout-align="center stretch">
    <div layout="row">
        <div flex></div>
        <div class="text-white md-display-2">Company Benefits</div>
        <div flex></div>
    </div>
    <div layout="column" layout-gt-sm="row">
        <div  class="ben-reveal" id="sben-skills" flex ng-class="ani_classes.pr4" ng-click="toggleProjects(4)" flex-offset="5">
            <i class="icon-pm-tangible"></i>
            <h3>Make the intangibles tangible</h3>
            <ul class="more-info">
                <li>Opportunity to create diverse projects and analyze how prospects perform over an extended period.</li>
                <li>Test a potential employee's work ethic, team communication, and leadership abilities.</li>
            </ul>
        </div>
        <div class="ben-reveal" id="sben-passions" flex ng-class="ani_classes.pr5" ng-click="toggleProjects(5)" flex-offset="5">
            <i class="icon-pm-pipeline"></i>
            <h3>A talent pipeline</h3>
            <ul class="more-info">
                <li>Work with students over a two-year period, developing an unparalleled 1-on-1 relationship with them that no competitor can match.</li>
                <li>Create a seamless transition between a student's university life and professional future while managing a prospect over the entire recruiting cycle.</li>
            </ul>
         </div>
        <div class="ben-reveal" id="sben-connections" flex ng-class="ani_classes.pr6" ng-click="toggleProjects(6)" flex-offset="5">
            <i class="icon-pm-recruiter"></i>
            <h3>A recruiter near campus</h3>
            <ul class="more-info">
                <li>With local offices at each of our universities, ProMazo is in a unique position to source and discover talent.</li>
                <li>ProMazo coordinates the activities of "veteran" student workers to become on-campus evangelists for your organization.</li>
            </ul>
        </div>
        <div class="ben-reveal" id="sben-paid" flex ng-class="ani_classes.pr7" ng-click="toggleProjects(7)" flex-offset="5">
            <i class="icon-pm-get-paid"></i>
            <h3>Get work done economically</h3>
            <ul class="more-info">
                <li>Complete projects with some of the highest quality university talent for a low cost.</li>
                <li>Pass savings on to clients and/or customers.</li>
            </ul>
        </div>
    </div>
    <div layout="row" flex layout-align="center stretch">
        <div class="get-started" flex>
            <span class="tag-line" style="font-style: italic">Ready to get started?</span>
            <md-button style="border:1px solid #f26f70;"><div style="color:#f26f70;padding-left:20px;padding-right: 20px;">Contact Us</div></md-button>
        </div>
    </div>
</div>






</div>
</md-content>

<div layout="column" style="height:300px; z-index: -9999"></div>
<div layout="column" flex
     style="background-image: url('/static/images/city-1-bw.jpg'); background-position: center; position: fixed;z-index:0;left:0; bottom:0; height:300px; width:100%" layout="center center">
    <div flex></div>
    <div layout="row" layout-align="center center">
    <div class="text-white tag-line md-headline">UP NEXT CASE STUDIES</div>
    </div>
    <div layout="row" layout-align="center center">
    <div class="tag-line text-white md-headline" style="padding-bottom: 50px; padding-top: 10px;">Seeing.. Is beleaving.</div>
    </div>
    <div layout="row" layout-align="center center" class="md-padding">
    <md-icon class="text-white" style="font-size: 50px;">keyboard_arrow_down</md-icon>
    </div>
    <div style="background-color: black;">
        <div layout="row">
            <md-icon md-svg-icon="Extras:facebook-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:tumblr" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:linkedin-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <div flex></div>
            <div layout="column" class="text-white md-padding" layout-align="end end">
                <div><md-icon style="color:lightgray">copyright</md-icon>2015  questions@promazo.com  Notre Dame, IN 46556</div>
                <div>(858) 245-9965</div>

            </div>
        </div>
    </div>
</div>
</div>