<div class="signup" ng-controller="authenticationController" flex >
<span ng-include="'/static/templates/login_toolbar.html'" ></span>
<md-content layout="column" layout-align="center none" style="z-index:1;">

    <div layout="column" flex layout-align="start stretch">
        <div class="cw-corp-3">
            <div style="height:150px"></div>
        <div layout="column" layout-align="center center" style="height:320px; margin-bottom: 50px;">
            <img style="width: 200px;" src="/static/images/fiveguys_logo-white.png"/>
            <br><br>
                <div class="md-display-1 text-white tag-line">How we helped a top Five Guys Franchisee reduce costs and forecast sales</div>
            <br>
            <div layout="row">

                <div flex></div>
                <div class="text-white tag-line md-headline" style="text-align: center" flex-gt-sm="40">
Five Guys Burgers & Fries has leapt onto the burger scene in the past decade. Scaling from a few stores to a nationwide footprint, it has doubled the number of restaurants in a three year span. The firm has been successful based on the concept of having a simple menu, but doing those things exceptionally well.</div>
                <div flex></div>
            </div>

        </div>
            <div style="height:70px;"></div>
        </div>

    <div layout="row" layout-align="center center" style="background-color: whitesmoke">
        <div flex></div>
        <div flex-gt-sm="50" layout="column">
            <div class="ms-headline">PREDICTING HOW MANY BURGERS A STORE WILL FLIP EACH DAY</div>
            <div class="tag-line md-headline">The leaders of this franchise group are on a mission to understand how to optimize their restaurants. They had developed unique tools/metrics to monitor their business and tasked us with taking them to the next level. The student team built upon their existing infrastructure and developed new tools to manage their franchises, including some to help them forecast demand so they could reduce inventory and labor costs.</div>
            <div style="height:30px;"></div>
            <div layout="row" layout-align="start center">
                <div style="color: #709900;">FUN FACT:</div>
                <div flex-offset="5" class="tag-line md-headline"> There are 250,000 ways to order a burger at Five Guys</div>
            </div>
            <div style="height:30px;"></div>
        </div>
            <div flex></div>
    </div>

    <div layout="row" layout-align="center center" class="quote-5-guys">

    </div>

    <div layout="column" layout-gt-sm="row" layout-align="center stretch" style="background-color: whitesmoke;padding-top-20px;padding-bottom: 20px;">
        <div flex-offset-gt-sm="15" flex="25" layout="column" layout-align="center start">
            <div class="ms-headline">Team</div>
            <div class="md-headline tag-line">1 Economics and 2 IT Consulting</div>

        </div>

        <div flex="25">

            <ul class="skills-list">
                <li>VBA programming</li>
                <li>Modeling & forecasting demand</li>
                <li>In-store implementation strategy/roll-out</li>
            </ul>


        </div>

        <div flex="25">

            <ul class="skills-list">
                <li>Advanced excel work</li>
                <li>Software testing & debugging</li>
                <li>Ongoing support</li>
           </ul>
        </div>
        <div flex></div>
    </div>

    </div>




</md-content>
<div layout="column" flex style="height:300px; z-index:-9999">Hidden section</div>
</div>



<div layout="column" flex
     style="background-image: url('/static/images/ibm-1-watson.jpg'); background-position: center; position: fixed;z-index:0;left:0; bottom:0; height:300px; width:100%"
     layout="center center" ng-click="setMicrositePage('cw-corp-1')">
    <div flex></div>
    <div layout="row" layout-align="center center" >
    <div class="text-white tag-line md-headline">Up Next&emsp;IBM</div>
    </div>
    <div layout="row" layout-align="center center">
    <div class="tag-line text-white md-headline" style="padding-bottom: 50px; padding-top: 10px;"  ng-click="setMicrositePage('cw-corp-4')">How we helped IBM adjust recruiting practices to attract Millennials</div>
    </div>
    <div layout="row" layout-align="center center" class="md-padding">
    <md-icon class="text-white" style="font-size: 50px;">keyboard_arrow_down</md-icon>
    </div>
    <div style="background-color: black;">
        <div layout="row">
            <md-icon md-svg-icon="Extras:facebook-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:tumblr" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:linkedin-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <div flex></div>
            <div layout="column" class="text-white md-padding" layout-align="end end">
                <div><md-icon style="color:lightgray">copyright</md-icon>2015  questions@promazo.com  Notre Dame, IN 46556</div>
                <div>(858) 245-9965</div>

            </div>
        </div>
    </div>
</div>
</div>
