<div class="signup" ng-controller="authenticationController" flex >
<span ng-include="'/static/templates/login_toolbar.html'" ></span>
<md-content layout="column" layout-align="center none" style="z-index:1;">

    <div layout="column" flex layout-align="start stretch">
        <div class="cw-corp-1">
            <div style="height:150px"></div>
        <div layout="column" layout-align="center center" style="height:320px; margin-bottom: 50px;">
            <img style="width: 200px;" src="/static/images/kmc_logo-white.png"/>
            <br><br>
                <div class="md-display-1 text-white tag-line">How we helped to ensure their next generation product was ready for the field</div>
            <br>
            <div layout="row">

                <div flex></div>
                <div class="text-white tag-line md-headline" style="text-align: center" flex-gt-sm="40">KMC is a leading HVACC controls supplier that has recently teamed with Intel and Dell to deliver a cloud-based revolution in building heating and air systems. Their most recent product, <i>Conquest</i>, has just been released into the field and will begin worldwide deployment over the next year.

</div>
                <div flex></div>
            </div>

        </div>
            <div style="height:70px;"></div>
        </div>

    <div layout="row" layout-align="center center" style="background-color: whitesmoke">
        <div flex></div>
        <div flex-gt-sm="50" layout="column">
            <div class="ms-headline">ENSURING KMC'S CONQUEST SYSTEM WAS READY FOR ITS DEBUT</div>
            <div class="tag-line md-headline">KMC needed to validate its software before the worldwide launch of its new control system. KMC turned to ProMazo to complete the testing of their software over the course of several months. We were required to bring together a diverse team to ensure that both techinical and non-technical employees could understand how to implement the system in the field.</div>
            <div style="height:30px;"></div>
            <div layout="row" layout-align="start center">
                <div style="color: #709900;">FUN FACT:</div>
                <div flex-offset="5" class="tag-line md-headline">KMC started in a three-car garage in Manitoba, Canada, even though the founder was from Indiana, where the company is based today</div>
            </div>
            <div style="height:30px;"></div>
        </div>
            <div flex></div>
    </div>

    <div layout="row" layout-align="center center" class="quote-kmc">

    </div>

    <div layout="column" layout-gt-sm="row" layout-align="center stretch" style="background-color: whitesmoke;padding-top-20px;padding-bottom: 20px;">
        <div flex-offset-gt-sm="15" flex="25" layout="column" layout-align="center start">
            <div class="ms-headline">Team</div>
            <div class="md-headline tag-line">3 Engineering PhD’s, 4 Engineers, 3 Marketing, 4 IT Consulting, 2 Economics and 3 Applied Math</div>

        </div>

        <div flex="25">

            <ul class="skills-list">
                <li>Programming</li>
                <li>Bug identification</li>
                <li>Install multiple builds of the software</li>
            </ul>


        </div>

        <div flex="25">

            <ul class="skills-list">
                <li>Software testing</li>
                <li>Usability Analysis</li>
           </ul>
        </div>
        <div flex></div>
    </div>

    </div>




</md-content>
<div layout="column" flex style="height:300px; z-index:-9999">Hidden section</div>
</div>



<div layout="column" flex
     style="background-image: url('/static/images/ninestone-1.jpg'); background-position: center; position: fixed;z-index:0;left:0; bottom:0; height:300px; width:100%"
     layout="center center" ng-click="setMicrositePage('cw-corp-3')">
    <div flex></div>
    <div layout="row" layout-align="center center" >
    <div class="text-white tag-line md-headline">Up Next&emsp;Ninestone</div>
    </div>
    <div layout="row" layout-align="center center">
    <div class="tag-line text-white md-headline" style="padding-bottom: 50px; padding-top: 10px;"  ng-click="setMicrositePage('cw-corp-3')">How we established authority and reached new customers in the Healthcare space</div>
    </div>
    <div layout="row" layout-align="center center" class="md-padding">
    <md-icon class="text-white" style="font-size: 50px;">keyboard_arrow_down</md-icon>
    </div>
    <div style="background-color: black;">
        <div layout="row">
            <md-icon md-svg-icon="Extras:facebook-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:tumblr" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:linkedin-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <div flex></div>
            <div layout="column" class="text-white md-padding" layout-align="end end">
                <div><md-icon style="color:lightgray">copyright</md-icon>2015  questions@promazo.com  Notre Dame, IN 46556</div>
                <div>(858) 245-9965</div>

            </div>
        </div>
    </div>
</div>
</div>
