<div class="signup" ng-controller="authenticationController" flex >
<span ng-include="'/static/templates/login_toolbar.html'" ></span>
<md-content layout="column" layout-align="center none" style="z-index:1;">

    <div layout="column" flex layout-align="start stretch">
        <div class="sss-stu-1">
            <div style="height:150px"></div>
        <div layout="column" layout-gt-sm="row" layout-align="start center" style="height:120px; margin-bottom: 50px;">
            <img style="border-radius: 100%; height:200px; width: 200px;" src="/static/images/ss-frank-profile.jpg" flex-offset-gt-sm="10"/>
            <div layout="column" flex flex-offset-gt-sm="5">
                <div class="md-display-1 text-white tag-line">Frank Somich</div>
                <div class="text-white tag-line md-headline">Class of 2015</div>
                <div class="text-white tag-line md-headline">University of Notre Dame</div>
                <div class="text-white tag-line md-headline">IT Management and Applied Math</div>
            </div>

        </div>
            <div style="height:70px;"></div>
        </div>
        <div layout="column" layout-gt-sm="row" layout-align="center center" style="background-color: lightgray;height:70px;">
            <div flex></div>
            <div style="color: #709900;">INTERESTS:</div>
            <div flex-offset="5">SPORTS</div>
            <div flex-offset="5">MUSIC</div>
            <div flex-offset="5">MOBILE TECHNOLOGY</div>
            <div flex-offset="5">READING</div>
            <div flex></div>
        </div>
        <div layout="column" layout-gt-sm="row" layout-align="center center" style="background-color: whitesmoke;height:90px;">
            <div flex></div>
            <div style="color: #709900;">FUN FACT:</div>
            <div flex-offset="5" class="tag-line">was in an alternative rock band in school.</div>
            <div flex></div>
        </div>
    <div  layout="row" layout-align="center center" class="sss-stu-1-quote" flex>
        <div flex></div>
        <div layout="column" layout-align="center center" flex-gt-sm="50">
            <p class="tag-line md-headline text-white" style="font-style: italic">"ProMazo has helped me realize my full potential as a student, worker, and manager. It gave me the chance to work with a wide range of companies from Fortune 500's to small start-ups. During my job search, interviewers were often astonished by the level of real life experience I had during college."</p>
            <p class=" text-white md-headline">&mdash; Frank Somich</p>
        </div>
        <div flex></div>
    </div>

    <div layout="row" layout-align="center center" style="background-color: whitesmoke">
        <div flex></div>
        <div flex-gt-sm="50" layout="column">
            <div class="ms-headline">Why did you join ProMazo?</div>
            <p class="tag-line" style="font-style: italic">I joined ProMazo on its first project with IBM. I found great value in completing real work for real companies. In fact, interviewers were often astonished by the level of relevant experience I had accumulated in my time at college. The experience on that project convinced me this organization was a unique and meaningful opportunity for students. Joining the council has allowed me to help see this opportunity grow for more and more students.</p>
            <div class="ms-headline">What have you learned?</div>
            <p class="tag-line" style="font-style: italic">ProMazo has offered many unique experiences for me, from building out a division of the organization to managing multiple projects at once. I have never found another organization where I could start out as a team member and within two short years be leading over twenty students on real life projects. As a team member, I was able to understand how work teams operate and then build upon this experience as I moved up to Project Manager and eventually to Council Member. Working with ProMazo helped me learn time management and strong communication skills, all while allowing me to explore multiple different industries and companies. This is what I'll take most from ProMazo.</p>
            <div class="ms-headline">What is the most interesting thing you have done?</div>
            <p class="tag-line" style="font-style: italic">The first project I worked on, a recruiting analysis for IBM, presented what may have been the most interesting opportunity. At the close of the project, my team presented to 17 executives of the company &mdash; VPs and higher. The highest ranking person in the audience was the CIO, so this was a big time audience. To be able to present our suggestions (we were a team of college students) to this audience, and then have them accept and implement our advice, was really special.</p>
            <div class="ms-headline">How did ProMazo help you determine what you want to do?</div>
            <p class="tag-line" style="font-style: italic">Working with ProMazo helped confirm my passion to work in technology. I got to work on multiple technology projects ranging from websites to databases, providing a new and unique viewpoint each semester. As I worked on different projects, I realized I not only loved technology, but also the opportunity to change tasks on a consistent basis. As a result, I have decided to become a consultant for a Microsoft/Accenture joint venture where I can continue to help new and different companies every year. </p>
            <div class="ms-headline">How did ProMazo prepare you for life after college?</div>
            <p class="tag-line" style="font-style: italic">As mentioned above, the lessons I've learned will be most useful. The management and meeting side of ProMazo has prepared me to be effective and efficient in the workforce, while also helping me balance a busy life. ProMazo quickly puts you in a leadership position and allowed me to hone my management style and focus. Finally, after seeing and helping the founders build this organization, ProMazo has reinforced my belief that following my passion will take me far in life.</p>
        </div>
        <div flex></div>
    </div>

    </div>




</md-content>
<div layout="column" flex style="height:300px; z-index:-9999">Hidden section</div>
</div>



<div layout="column" flex
     style="background-image: url('/static/images/ss-sam-bg.jpg'); background-position: center; position: fixed;z-index:0;left:0; bottom:0; height:300px; width:100%"
     layout="center center" ng-click="setMicrositePage('ss-stu-2')">
    <div flex></div>
    <div layout="row" layout-align="center center" >
    <div class="text-white tag-line md-headline"> Up Next&emsp;Sam Melgar</div>
    </div>
    <div layout="row" layout-align="center center">
    <div class="tag-line text-white md-headline" style="padding-bottom: 50px; padding-top: 10px;"  ng-click="setMicrositePage('ss-stu-2')">I not only gained these skills, but also became part of the ProMazo community and grew as a person</div>
    </div>
    <div layout="row" layout-align="center center" class="md-padding">
    <md-icon class="text-white" style="font-size: 50px;">keyboard_arrow_down</md-icon>
    </div>
    <div style="background-color: black;">
        <div layout="row">
            <md-icon md-svg-icon="Extras:facebook-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:tumblr" style="color:lightgray;font-size: 30px;"></md-icon>
            <md-icon md-svg-icon="Extras:linkedin-box" style="color:lightgray;font-size: 30px;"></md-icon>
            <div flex></div>
            <div layout="column" class="text-white md-padding" layout-align="end end">
                <div><md-icon style="color:lightgray">copyright</md-icon>2015  questions@promazo.com  Notre Dame, IN 46556</div>
                <div>(858) 245-9965</div>

            </div>
        </div>
    </div>
</div>
</div>
