

<md-toolbar style="position: fixed; top: 0;" md-whiteframe="2"  ng-controller="toolbarController" class="md-toolbar-tools">
    <md-button class="md-raised md-icon-button md-primary" ng-click="SideNavOpen('left')"><md-icon>menu</md-icon></md-button>
    <md-button  class="md-raised md-icon-button md-primary" ng-click="setCurrentPage('home')"><md-icon>home</md-icon></md-button>

        <div flex></div>

        <md-button ng-click="SideNavOpen('right')" layout="row" layout-align="space-between center" >
            <div><img ng-src="{{ currentProfile.avatarImage }}" class="avatar_toolbar"></div>
            <div> {{currentUser.username}} ({{currentScore}})</div>

        </md-button>

</md-toolbar>

<div flex layout="row" style="margin-top: 65px;">
<md-sidenav md-component-id="left" md-whiteframe="1" md-is-locked-open="$mdMedia('min-width:900px')">
    <div flex ng-include="'/static/templates/left_menu.html'"></div>
</md-sidenav>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <div ng-include="'/static/templates/right_menu.html'"></div>
</md-sidenav>
<md-content flex style="margin-top:10px;background-color: transparent">

    <div flex ng-include="'/static/templates/edit_profile_forms.html'"></div>
    <div ng-include="'/static/templates/skillQuestions.html'"></div>
    <div flex ng-include="'/static/templates/home_page.html'"></div>
    <div ng-switch="currentPage">
        <span ng-switch-when="ManageTests">
            <div ng-include="'/static/templates/ManageQuestions.html'"></div>
        </span>

    </div>
</md-content>
</div>
