{% extends 'microsite/base_home.html' %}

{% block page_title %}About ProMazo{% endblock %}

{% block body %}

<div class="container-fluid white-bg mk-rm-4-teaser">

     <div class="row about-intro">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="position:relative">
            <p class="med-tagline-prs white-w-shadow about-tag">Our mission is to educate and prepare the next generation of workers</p>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row lt-p50 gray-bg"  style="overflow:hidden">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <h2 class="sm-heading-pm">Our DNA</h2>
            <p class="lg-copy">We believe in learning by doing, and this is why we strive to connect students and companies with what matters most &mdash; <span class="bld">the experience</span>. To do this we bring on the most creative, innovative and intelligent partners to fulfill our mission, and give them a lot of autonomy and responsiblity. Working at ProMazo may seem different at first, and that’s why we’ve boiled down working with us to <span class="bld">one simple idea</span> we tell everyone on day 1: <span class="italic">Your job is to make another coworker's job easier each day</span>. If we look out for each other, everything else falls into place.</p>
        </div>
        <div class="col-sm-2">
            <p id="about-dna"><i class="icon-pm-dna"></i></p>
        </div>
        <div class="col-sm-2"></div>
    </div>

<div class="row" id="our-ritual">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 logo">
        <span class="white-w-shadow"></span>
        <h1 class="med-tagline-prs white-w-shadow"><i class="icon-pm-circle" style="font-size: 75px"></i><br />This is more than work. It is a family.</h1>
        <p class="sub-tagline-prs white-w-shadow"> Multiple times a month, students come together to learn from each other and develop new friendships. These meetings also serve as opportunities for us to voice any concerns and identify ideas to improve ProMazo. We never stop learning.</p>
    </div>
    <div class="col-sm-2"></div>
</div>

    <div class="row lt-p70 gray-bg value-block">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 class="sm-heading-pm">ProMazo values & traits</h2>
            <p class="lg-copy">These values are ProMazo’s core. They frame every decision we make and allow us to develop a culture that balances innovation with respect.</p>
            <hr />
            <p class="xlg-copy">Educate<br /><span class="value-desc">Teach students by helping them complete real work</span></p>
            <hr />
            <p class="xlg-copy">Authentic<br /><span class="value-desc">Stay humble, be respectful and remember our roots</span></p>
            <hr />
            <p class="xlg-copy">Family<br /><span class="value-desc">Develop a group that looks out for one another</span></p>
            <hr />
            <p class="xlg-copy">Be Bold<br /><span class="value-desc">Never be afraid to shake things up, present new ideas or explore new paths</span></p>
            <hr />
            <p class="xlg-copy">Hustle<br /><span class="value-desc">Always go the extra mile and try to be better the next day</span></p>
            <hr />
            <p class="xlg-copy">Fun<br /><span class="value-desc">Enjoy the people you work with</span></p>
            <hr />
            <p class="xlg-copy">Mindful<br /><span class="value-desc">Balance what’s next with the present</span></p>
            <hr />
       </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="lt-p70">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 class="sm-heading-pm">Our People</h2>
            <p class="lg-copy">The ProMazo family starts with our people. From student councils to partners, this tight knit group enables us to create all of these experiences for our students.</p>
        </div>
        <div class="col-sm-2"></div>
    </div>
    </div>

    <div class="row team-block">
        <div class="col-xs-4 col-sm-3 col-md-2 team-img">
            <img src="../static/microsite/images/student_boards/gu_sophie_brown.jpg" width="100%" />
            <p class="team-name">Sophie<br /><span class="team-title">Georgetown<br />OPIM & Marketing</span></p>
         </div>
        <div class="col-xs-4 col-sm-3 col-md-2 team-img">
            <img src="../static/microsite/images/student_boards/nd_peter_chiang.jpg" width="100%" />
            <p class="team-name">Peter<br /><span class="team-title">Notre Dame<br />Chemical Engineering</span></p>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 team-img">
            <img src="../static/microsite/images/student_boards/hu_achim_harzheim.jpg" width="100%" />
            <p class="team-name">Achim<br /><span class="team-title">Harvard<br />Physics & Economics</span></p>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 team-img">
            <img src="../static/microsite/images/student_boards/bc_daniel_madden.jpg" width="100%" />
            <p class="team-name">Daniel<br /><span class="team-title">Babson<br />Business Administration</span></p>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 team-img">
            <img src="../static/microsite/images/student_boards/nd_jessie_tubbs.jpg" width="100%" />
            <p class="team-name">Jessie<br /><span class="team-title">Notre Dame<br />ACMS & Economics</span></p>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 team-img">
            <img src="../static/microsite/images/student_boards/gu_monty_yort.jpg" width="100%" />
            <p class="team-name">Monty<br /><span class="team-title">Georgetown<br />Finance & Operations</span></p>
        </div>
    </div>
</div> <!--end container-fluid white-->

<div class="container-fluid white-bg">
    <a href="/how-it-works">
    <div class="row ctr-p20 how-student-t teaser">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 logo">
            <p class="sm-heading-pm white-w-shadow space-below-20">Up Next&emsp;How it Works</p>
            <p class="sub-tagline-prs white-w-shadow">How ProMazo works for students and companies</p>
       </div>
        <div class="col-sm-2"></div>
       <i class="icon-pm-down-arrow white-w-shadow"></i>
    </div>
    </a>
</div> <!--end container-fluid white-->


{% endblock %}