{% extends 'microsite/base_home.html' %}

{% block page_title %}How it Works - Company{% endblock %}

{% block body %}

<div class="container-fluid white-bg mk-rm-4-teaser"> <!--open container-fluid -->

     <div class="row how-it-works-title hiwt-company">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h4>There's always more work than time in the day</h4>
            <hr />
            <h1 class="tagline-prs white-w-shadow">Reinvent how you get work done</h1>
            <hr />
            <h4>while recruiting new talent</h4>
       </div>
        <div class="col-sm-2"></div>
    </div>


<div class="row">
    <div class="col-sm-12">
        <h1 class="introducing">Introducing ProMazo: <span>A new way to get work done</span></h1>
    </div>
</div>

<div class="row" id="how-it-works-diagram">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-7 col-lg-6">
        <div id="company-path">
            <i class="icon-pm-path place-path"></i>
            <span class="discuss-step stage"><i class="icon-pm-discuss"></i></i>Discuss</span>
            <p class="ds hidden-text"><b>Discuss</b> your goal in collaborating with us &mdash; recruitment, completing work or both.</p>
            <span class="publish-step stage"><i class="icon-pm-publish"></i></i>Publish</span>
            <p class="hidden-text"><b>Publish</b> your projects to be completed on our website.</p>
            <span class="search-step stage two-line-title"><i class="icon-pm-search"></i></i>Search & Screen</span>
            <p class="hidden-text"><b>Search & Screen</b> our talent database to find the perfect candidates for your projects.</p>
            <span class="collaborate-step stage"><i class="icon-pm-collaborate"></i></i>Collaborate</span>
            <p class="hidden-text"><b>Collaborate</b> virtually through a semester just like regular employees. PM will support both parties to ensure that everything is satisfactory.</p>
            <span class="complete-step stage"><i class="icon-pm-complete"></i></i>Complete</span>
            <p class="hidden-text">Once <b>Complete</b>, students turn over all work to their company and are paid upon approval.</p>
            <span class="create-step stage"><i class="icon-pm-create"></i></i>Create</span>
            <p class="hidden-text">Companies can then <b>Create</b> new projects for the same students or search for new talent.</p>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 right-side text-side">
        <h2>How it Works</h2>
        <p>Looking to find and leverage high-quality talent economically? Discuss your goals with us, publish your projects, search and screen our talent database. Then collaborate virtually throughout a semester just like a regular employee. Upon completion, you can choose to continue working with the same students or search for new ones.</p>
    </div>
    <div class="col-md-1 col-lg-2"></div>
</div>

<div class="row">
    <div class="col-sm-12" id="what-can-students-do">
	    <h1 class="tagline-prs">What can student consultants do?</h1>
    </div>
</div>

<!--Responsive version of Types of Projects -->

<div class="row projects3">
    <div class="col-sm-4">
        <div id="proj-support" class="proj-reveal proj-reveal-company">
        	<i class="icon-pm-support"></i>
        	<h3 class="sm-heading-pm">Support</h3>
            <p>ProMazo consultants can provide assistance to your team.</p>
            <ul class="icon more-info">
                <li>Backend processing & paperwork</li>
                <li>Programming & database design</li>
                <li>Product evaluation & marketing plans</li>
                <li>Software design</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
    	<div id="proj-exploratory" class="proj-reveal proj-reveal-company">
        	<i class="icon-pm-exploratory"></i>
        	<h3 class="sm-heading-pm">Exploratory</h3>
            <p>Low-risk & high-reward, ProMazo offers new opportunities.</p>
            <ul class="icon more-info">
                <li>Market Analysis</li>
                <li>Research</li>
                <li>Surveys</li>
                <li>Financial Modeling</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
    	<div id="proj-immediate" class="proj-reveal proj-reveal-company">
        	<i class="icon-pm-immediate"></i>
        	<h3 class="sm-heading-pm">Immediate</h3>
            <p>If you have a short-term deadline to meet ProMazo can help.</p>
            <ul class="icon more-info">
                <li>Product Testing, Systems Analytics, Debugging</li>
                <li>Last Minute Industry Research</li>
                <li>Presentation Design</li>
                <li>Any Currently Outsourced Work</li>
            </ul>
        </div>
	</div>
</div>

    <div class="row lt-p50" style="background:#f5f5f5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 class="sm-heading-pm">Analyze Talent & Finish Work</h2>
            <p class="lg-copy">ProMazo challenges the assumption that recruiting college grads is costly. ProMazo drives down hiring costs by tapping into an educated, underutilized student workforce and enables companies to test drive them through virtual real-world projects during college. <span class="italic">The savings allow you to work with five times the number of students compared to traditional recruiting methods, and evaluate students over multiple years.</span></p>
       </div>
        <div class="col-sm-2"></div>
    </div>

    <!-- Responsive version of Company Benefits -->

<div class="row benefits company-benefits">
    <div class="col-sm-12">
        <h1>Company Benefits</h1>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="ben-reveal" id="sben-skills">
            <i class="icon-pm-tangible"></i>
            <h3>Make the intangibles tangible</h3>
            <ul class="more-info">
                <li>Opportunity to create diverse projects and analyze how prospects perform over an extended period.</li>
                <li>Test a potential employee's work ethic, team communication, and leadership abilities.</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="ben-reveal" id="sben-passions">
            <i class="icon-pm-pipeline"></i>
            <h3>A talent pipeline</h3>
            <ul class="more-info">
                <li>Work with students over a two-year period, developing an unparalleled 1-on-1 relationship with them that no competitor can match.</li>
                <li>Create a seamless transition between a student's university life and professional future while managing a prospect over the entire recruiting cycle.</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="ben-reveal" id="sben-connections">
            <i class="icon-pm-recruiter"></i>
            <h3>A recruiter near campus</h3>
            <ul class="more-info">
                <li>With local offices at each of our universities, ProMazo is in a unique position to source and discover talent.</li>
                <li>ProMazo coordinates the activities of "veteran" student workers to become on-campus evangelists for your organization.</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="ben-reveal" id="sben-paid">
            <i class="icon-pm-get-paid"></i>
            <h3>Get work done economically</h3>
            <ul class="more-info">
                <li>Complete projects with some of the highest quality university talent for a low cost.</li>
                <li>Pass savings on to clients and/or customers.</li>
            </ul>
        </div>
    </div>
        <div class="col-sm-12 get-started">
            <span class="sub-tagline-prs-italic gs-question">Ready to get started?</span>
            <a href="contact-pm" type="button" class="btn btn-pm btn-large">Contact Us</a>
        </div>
</div>

</div> <!--close second container-fluid-->

<div class="container-fluid white-bg">
    <a href="/corporate-work">
    <div class="row ctr-p20 cs-corp teaser">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 logo">
            <p class="sm-heading-pm white-w-shadow space-below-20">Up Next&emsp;Case Studies</p>
            <p class="sub-tagline-prs white-w-shadow">Seeing is believing</p>
       </div>
       <div class="col-sm-2"></div>
       <i class="icon-pm-down-arrow white-w-shadow"></i>
    </div>
</div> <!--end container-fluid white-->

{% endblock %}
