{% extends 'microsite/base_home.html' %}

{% block page_title %}How it Works - Student{% endblock %}

{% block body %}

<!--
<div id="how-it-works-title" style="position:relative;z-index:1">
    <div>
        <p id="there">Use those extra hours before/after class to</p>
        <p class="border"></p>
        <p id="reinvent">Gain real world experience without leaving campus</p>
        <p class="border"></p>
        <p id="recruiting">While finding out what makes you tick</p>
    </div>
</div>
-->

<div class="container-fluid white-bg mk-rm-4-teaser"> <!--Open container-fluid -->

    <div class="row how-it-works-title hiwt-student">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h4>Use those extra hours before/after class to</h4>
            <hr />
            <h1 class="tagline-prs white-w-shadow">Gain real world experience without leaving campus</h1>
            <hr />
            <h4>While finding out what makes you tick</h4>
       </div>
        <div class="col-sm-2"></div>
    </div>

<div class="row">
    <div class="col-sm-12">
        <h1 class="introducing">Introducing ProMazo: <span>A new way to build your resume</span></h1>
    </div>
</div>

<div class="row" id="how-it-works-diagram">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-7 col-lg-6">
        <div id="student-path">
            <i class="icon-pm-path place-path"></i>
            <span class="upload-step stage"><i class="icon-pm-publish"></i>Upload</span>
            <p class="ds hidden-text"><b>Upload</b> your r&eacute;sum&eacute; into our talent database.</p>
            <p class="flag-step stage"><i class="icon-pm-flag"></i><br />Flag</p>
            <p class="hidden-text"><b>Flag</b> companies and apply to projects that match your interests.</p>
            <span class="search-step stage two-line-title"><i class="icon-pm-search"></i>Search & Screen</span>
            <p class="hidden-text">Companies <b>Search & Screen</b> our talent database to find the perfect candidates for their projects.</p>
            <span class="collaborate-step stage"><i class="icon-pm-collaborate"></i>Collaborate</span>
            <p class="hidden-text"><b>Collaborate</b> virtually through a semester just like regular employees. PM will support both parties to ensure that everything is satisfactory.</p>
            <span class="complete-step stage"><i class="icon-pm-complete"></i>Complete</span>
            <p class="hidden-text"><b>Complete</b> the project, turn over all work to your company and get paid upon approval.</p>
            <span class="join-step stage"><i class="icon-pm-create"></i><br />Next</span>
            <p class="hidden-text"><b>Next</b>, select a new project or stick with the same company.</p>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 right-side text-side">
        <h2>How it Works</h2>
        <p>Looking to connect with companies that match your interests and passions? Upload your resume, flag companies and projects, then collaborate virtually through a semester just like a regular employee. Upon completion, you can choose to continue working with the same company or join a new one.</p>
    </div>
    <div class="col-md-1 col-lg-2"></div>
</div>

<div class="row">
    <div class="col-sm-12" id="what-can-students-do">
	    <h1 class="tagline-prs">What can you do with ProMazo?</h1>
    </div>
</div>

<!--Responsive version of Types of Projects -->

<div class="row projects3 projects3-student">
    <div class="col-sm-4">
    	<div id="proj-support" class="proj-reveal proj-reveal-student">
        	<i class="icon-pm-internships"></i>
        	<h3 class="sm-heading-pm">Internships</h3>
            <p>First time with ProMazo? Don’t know what virtual work is like? Have a packed schedule this semester? Our internships allow you to hone your skills while learning what types of professions you might be interested in.</p>
            <ul class="icon more-info">
                <li>We highly recommend you start with one of these opportunities before applying for a consulting project, because previous ProMazo internships are the number one factor in determining placement for consulting, especially if you are freshman or sophomore.</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
    	<div id="proj-exploratory" class="proj-reveal proj-reveal-student">
        	<i class="icon-pm-consulting"></i>
        	<h3 class="sm-heading-pm">Consulting</h3>
            <p>Ready to take the next step? ProMazo consulting experiences allow you to take a deep dive into an industry. However, with this increased focus comes additional responsiblity.</p>
            <ul class="icon more-info">
                <li>These projects require more dedication/time and a demonstrated level of expertise in the field, communication and time management. We HIGHLY recommend completing a ProMazo internship before applying for a consulting project.</li>
           </ul>
        </div>
    </div>
    <div class="col-sm-4">
    	<div id="proj-immediate"class="proj-reveal proj-reveal-student">
        	<i class="icon-pm-board"></i>
        	<h3 class="sm-heading-pm">Chapter Council</h3>
            <p>The council functions as the face of ProMazo at the university, and as such requires a high level of dedication and a proven ability to succeed in unstructured environments.</p>
            <ul class="icon more-info">
                <li>As a council member you will lead teams, meet with corporate representatives and customize ProMazo for your school. The Council Members represent the very best of ProMazo and as such receive a substantial amount of responsibility and invaluable management experience.</li>
            </ul>
        </div>
	</div>
</div>

    <div class="row lt-p50 gray-bg">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 class="sm-heading-pm">Learn & Explore</h2>
            <p class="lg-copy">Imagine walking into an interview. The interviewer is asking all sorts of behavioral and potentially industry-specific questions. But what they really want to know is can you handle the responsibilities of a real job and what you have done that sets you apart?</p>
            <p class="lg-copy">What if you could tell them how you just finished helping a start-up build their fundraising pitchbook, or how the semester before you developed a marketing plan for a new product and worked with a team of engineers to create the prototype? And finally, this year how you’ll be managing a team of 10 conducting financial research for a large Wall Street bank. Do you think they would be impressed? With ProMazo that <span class="bld">possibility becomes reality</span>. We provide you with the opportunities to determine what you really want to do, while gaining real world experience without leaving campus.</p>
       </div>
        <div class="col-sm-2"></div>
    </div>

<!-- Responsive version of Student Benefits -->

<div class="row benefits student-benefits">
    <div class="col-sm-12">
        <h1>Student Benefits</h1>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="ben-reveal" id="sben-skills">
            <i class="icon-pm-build-skills"></i>
            <h3>Build your skills</h3>
            <ul class="more-info">
                <li>Gain over two years of work experience with some of the top companies in the nation/world.</li>
                <li>Showcase your leadership skills when you manage a small team during your senior year.</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="ben-reveal" id="sben-passions">
            <i class="icon-pm-exploratory"></i>
            <h3>Explore your passions</h3>
            <ul class="more-info">
                <li>Take a chance and do something you've always dreamt of but didn't fit on your "track", like working for a startup, a large company, or an international organization.</li>
                <li>Ensure that your selected major or profession is right for you.</li>
            </ul>
         </div>
   </div>
    <div class="col-sm-6 col-md-3">
        <div class="ben-reveal" id="sben-connections">
            <i class="icon-pm-connections"></i>
            <h3>Make connections</h3>
            <ul class="more-info">
                <li>Personally connect with companies you want to work for after graduation.</li>
                <li>Meet future bosses, coworkers, and peers, making sure that the company is a match for you.</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="ben-reveal" id="sben-paid">
            <i class="icon-pm-get-paid"></i>
            <h3>Get paid</h3>
            <ul class="more-info">
                <li>Receive some of the highest wages on campus.</li>
                <li>Have extra spending money for the weekend, traveling or bills.</li>
            </ul>
        </div>
    </div>
        <div class="col-sm-12 get-started">
            <span class="sub-tagline-prs-italic gs-question">Ready to get started?</span>
            <a href="/sign-in" type="button" class="btn btn-pm btn-large">Sign Up</a>
        </div>
</div>

</div> <!--close second container-fluid-->

<div class="container-fluid white-bg">
    <a href="/student-stories">
    <div class="row ctr-p20 sss-stu teaser">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 logo">
            <p class="sm-heading-pm white-w-shadow spac">Up Next&emsp;Student Stories</p>
            <p class="sub-tagline-prs white-w-shadow">Don't take our word for it... See what students are saying</p>
       </div>
       <div class="col-sm-2"></div>
       <i class="icon-pm-down-arrow white-w-shadow"></i>
    </div>
</div> <!--end container-fluid white-->


{% endblock %}