<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ProMazo</title>
<meta name="description" content="ProMazo connects companies with talented college students to perform project-based work during the academic year." />
<meta name="keywords" content="ProMazo,Internships,Students,Company,Notre Dame,University of Notre Dame,Pro Mazo">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--Stylesheets-->
<link href="/static/microsite/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/microsite/pm-sketch-icons/css/pm-icons-embedded.css" rel="stylesheet" type="text/css" />
<link href="/static/microsite/css/bxslider-4-master/jquery.bxslider.css" rel="stylesheet" type="text/css" />
<link href="/static/microsite/css/promazo.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/static/microsite/images/PM-favicon3.ico" type="image/x-icon">
<link rel="icon" href="/static/microsite/images/PM-favicon3.ico" type="image/x-icon">

<!--Javascript and jQuery-->
<script src="/static/microsite/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/static/microsite/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/microsite/js/bxslider-4-master/jquery.bxslider.js" type="text/javascript"></script>
<script src="/static/microsite/js/slider-call.js" type="text/javascript"></script>
<script src="/static/microsite/js/nav.js" type="text/javascript"></script>
<script src="/static/microsite/js/promazo.js" type="text/javascript"></script>
</head>

<body>

<!--Navbar across top of screen
<nav id="index-page">
    <ul class="navbar">
        <li><a href="http://promazo.com/">ProMazo</a></li>
        <li><a href="how-it-works">How ProMazo Works</a></li>
        <li><a href="sign-in">Sign In</a></li>
        <li><a href="#"><img src="/static/microsite/images/PNGs/PM-Logo-bbb.png" class="options" /></a></li>
    </ul>
</nav>
-->



<nav class="navbar navbar-default navbar-fixed-top home-top-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pm-menu" id="pm-menu-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span><img src="../static/microsite/images/PNGs/PM-Logo.png" /></span>
      </button>
      <a class="navbar-brand" href="/">ProMazo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="pm-menu">
      <ul class="nav navbar-nav">
        <li><a href="/how-it-works">How ProMazo Works</a></li>
        <li><a href="/corporate-work">Corporate Work</a></li>
        <li><a href="/student-stories">Student Stories</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact-pm">Contact Us</a></li>
        <li class="divider"></li>
        <li><a href="/promazo">Sign In/Up</a></li>
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid white-bg mk-rm-4-teaser">

    <div class="row"  id="signature-image">
        <div class="col-sm-12 sig-taglines">
            <p class="tagline-prs white-w-shadow">Recruiting talent is difficult</p>
            <p class="sub-tagline-prs white-w-shadow">ProMazo simplifies the process and enables companies to better evaluate prospective students.</p>
        </div>
        <div class="bottom-search-area">
            <span class="sub-tagline-prs-italic bsa-question">Where do you want to go?</span>
            <div class="bsa-buttons"><a id="choose-student" href="how-it-works-student" type="button" class="btn btn-pm btn-large">I'm a Student</a>&nbsp;<a id="choose-company" href="how-it-works-company" type="button" class="btn btn-pm btn-large">I'm a Company</a></div>
        </div>
        <div class="bottom-arrow">
            <a href="#at-your-desk"><i class="icon-pm-down-arrow" style="font-size: 32px"></i></a>
        </div>
    </div>


<!--Content slider; organize in order of scroll
<ul class="bxslider">
	<li>
   	  <h1>What does it mean to be at your desk?</h1>
	  <a href="#"><p class="expand">More</p></a>        
<div> 
            <p>In today's global and virtual work environment an employee's "desk" can be anywhere, challenging the traditional idea of an office cubicle farm.</p>
        </div>
    	<img src="/static/microsite/images/Images/Desk3.jpg" />
	</li>
	<li>  
   	  <h1>Introducing ProMazo</h1>  
	  <a href="#"><p class="expand">More</p></a>                
<div>          
            <p>With virtualization, employees have the opportunity to work from anywhere...a cafe, their home, and even waiting for a plane.</p>
            <p><br />ProMazo extends this idea of the mobile workforce and enables companies to tap into a completely untouched pool of talent: undergraduate and graduate students.</p>   
</div>     
    	<img src="/static/microsite/images/Images/Desk1.jpg" />
  	</li>
   	<li>
   	  <h1>Helping companies</h1>
	  <a href="#"><p class="expand">More</p></a>        
<div>          
            <p>Through ProMazo's system, companies will not only be able to complete projects, but can also test drive potential employees to ensure their qualifications and fit.</p>
        </div>
    	<img src="/static/microsite/images/Images/Desk3.jpg" />
	</li>
   	<li>
   	  <h1>Connecting to students</h1>
	  <a href="#"><p class="expand">More</p></a>             
<div>        
            <p>ProMazo's position near campus also allows us to find talent with specific skills and we can assist with identifying and sourcing recruits from diverse backgrounds.</p>
            <p><br />In addition to evaluating their skills, our process fosters a robust relationship between recruits and companies over an extended time period, creating a competitive advantage for you when recruiting these talented individuals.</p>
        </div>
   		<img src="/static/microsite/images/Images/Desk1.jpg" />
  	</li>    
</ul>
-->

<a name="at-your-desk"></a>
<div class="row" id="at-your-desk">
    <div class="col-sm-1 col-lg-2"></div>
    <div class="col-sm-5 col-lg-4 left-side sketch-side">
        <img id="random-desk" />
     </div>
    <div class="col-sm-5 col-lg-4 right-side text-side">
        <h1>What does it mean to be <span>at your desk?</span></h1>
        <p>In today's global and virtual work environment an employee's "desk" can be anywhere, challenging the traditional idea of an office cubicle farm.</p>
    </div>
    <div class="col-sm-1 col-lg-2"></div>
</div>


<a name="intro-pm"></a>
<div class="row" id="intro-pm">
    <div class="col-lg-1"></div>
    <div class="col-sm-5 col-lg-4 right-side text-side">
        <h1 class="white-w-shadow">Introducing <span>ProMazo</span></h1>
        <p class="white-w-shadow">ProMazo extends this idea of the mobile workforce and enables companies to tap into a completely untouched pool of talent: undergraduate and graduate students.</p>
    </div>
    <div class="col-sm-7 col-lg-7"></div>
</div>


<a name="helping-companies"></a>
<div class="row" id="helping-companies">
    <div class="col-lg-1"></div>
    <div class="col-sm-7 col-lg-5 left-side sketch-side">
        <img src="/static/microsite/images/sketches-png/pm-helping-companies.png" />
    </div>
    <div class="col-sm-5 col-lg-4 right-side text-side">
         <h1>Helping <span>Companies</span></h1>
        <p>Through ProMazo's system, companies will not only be able to complete projects, but can also test drive potential employees to ensure their qualifications and fit.</p>
    </div>
    <div class="col-lg-2"></div>
</div>

<a name="connecting-students"></a>
<div class="row" id="connecting-students">
    <div class="col-sm-1 col-lg-2"></div>
    <div class="col-sm-6 col-lg-5  right-side text-side">
        <h1 class="white-w-shadow">Connecting to <span>Students</span></h1>
        <p class="white-w-shadow">ProMazo's position near campus also allows us to find talent with specific skills, and we can assist with identifying and sourcing recruits from diverse backgrounds.</p>
    </div>
    <div class="col-sm-5 col-lg-4 right-side sketch-side">
        <img src="/static/microsite/images/sketches-png/pm-students-b2-x3.png" />
     </div>
    <div class="col-lg-1"></div>
</div>

<div class="ctr-p50">
    <div class="row">
        <a href="/corporate-work"><h2 class="sm-heading-pm">We work with</h2></a>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 partner-main">
            <a href="/work/corporate-1"><img src="/static/microsite/images/corp-logos/ibm_logo.png" /></a>
            <img src="/static/microsite/images/corp-logos/fidelity.png" />
            <img src="/static/microsite/images/corp-logos/boys-and-girls-club_logo.png" />
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>


</div> <!--close container-fluid main page-->


<div class="container-fluid">
    <a href="/how-it-works">
    <div class="row ctr-p20 how-company-t teaser">
       <div class="col-sm-2"></div>
        <div class="col-sm-8 logo">
            <p class="sm-heading-pm white-w-shadow space-below-20">Up Next&emsp;How it Works</p>
            <p class="sub-tagline-prs white-w-shadow">How ProMazo works for students and companies</p>
       </div>
       <div class="col-sm-2"></div>
       <i class="icon-pm-down-arrow white-w-shadow"></i>
    </div>
    </a>
</div> <!--end container-fluid teaser-->


<!--FOOTER-->



<footer>

<div class="container-fluid">
    <div class="row pm-footer">
        <div class="col-xs-4">
 	        <ul class="social-media">
                <li><a href="http://www.facebook.com/pages/Center-for-Research-ComputingCRC/284169754999369"><img src="/static/microsite/images/social_media/Facebook.png" /></a></li>
                <li><a href="http://www.twitter.com/promazojobs"><img src="../static/microsite/images/social_media/Twitter.png" /></a></li>
                <li><a href="http://www.linkedin.com/company/promazo"><img src="../static/microsite/images/social_media/LinkedIn.png" /></a></li>
            </ul>
        </div>
        <div class="col-xs-8">
	  	    <div class="contact" id="address">Notre Dame, IN 46556<br /> (858) 245-9965</div>
            <div class="contact">&copy;2015&emsp;<a href="mailto:questions@promazo.com" target="_new">questions@promazo.com</a></div>
    	    <!-- <a href="http://www.nd.edu/"><img src="/static/microsite/images/PNGs/Dome.png" alt="University of Notre Dame" id="dome" /></a> -->
        </div>
    </div>
</div> <!--close container-fluid-->

</footer>




</body>
</html>
