{% extends 'student/base_student.html' %}

{% load staticfiles %}

{% block body %}
    {% load base_extras %}

    <div class="panel panel-default">
        <div class="panel-heading">
            PROJECTS UPDATES <a href="/student/project/{{ project.id }}/projectupdate/{{ projectupdate.id }}/">Cancel</a>
        </div>
        <div class="panel-body">
            {% for projectgoal in projectgoal_list %}
            <table class="table">
                <tr>
                    <td>{{ projectgoal.project }}</td>
                    <td class="col-xs-3">

                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}{% endblock %}
