    <md-card style="padding: 20px;">

            <md-card-title>
                <md-card-title-text class="md-card-title-text">
                    Forgot Password
                </md-card-title-text>
            </md-card-title>
        <md-card-content>
        <form >
            <md-input-container class="md-block">
                <label>Email</label>
                <input type="text" ng-model="formdata.email" required minlength="4" md-maxlength="100" placeholder=""/>
            </md-input-container>
            <md-button ng-click="forgot_password(formdata)" class="md-raised row-button">Continue</md-button>


        </form>
        </md-card-content>

    </md-card>