{% extends 'microsite/base_home.html' %}

{% block page_title %}Student Stories - 3{% endblock %}

{% block body %}


<div class="container-fluid white-bg mk-rm-4-teaser">

     <div class="row student-data sss-stu-3">
         <div class="col-sm-1"></div>
        <div class="col-sm-3 student-pic">
            <img class="img-circle student-profile-pic" src="../static/microsite/images/bkgrnds/ss-mary-profile.jpg" />
        </div>
         <div class="col-sm-8 student-bio">
            <p class="tagline-prs white-w-shadow">Mary&nbsp;Schlegel</p>
            <p class="lg-copy white-w-shadow" >Class of 2016<br />Mendoza College&nbsp;of&nbsp;Business<br />ITM and Economics</p>
        </div>
    </div>
    <div class="row student-skills">
        <div class="col-sm-12">
            <ul class="skills-list">
                <li  class="interests-label">Interests:</li>
                <li>Start-ups</li>
                <li>Adventures</li>
                <li>Board games</li>
                <li>Innovation</li>
            </ul>
       </div>
    </div>
    <div class="row ctr-p50" style="padding-top: 10px">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <p class="fun-fact italic"><span class="sm-heading-pm">Fun fact:</span>&ensp;Used to be asked by parents to show up as Lilo at their kids' parties.</p>
       </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>
    <div class="row ctr-p100 quote sss-stu-3-quote">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6 logo">
            <p class="sub-tagline-prs white-w-shadow quote-copy">"I cannot decide whether the best part of this experience has been what I have learned or helping others learn. Either way, it continues to be an education unlike anything I have ever experienced before."</p>
            <p class="attribution">&mdash; Mary Schlegel</p>
       </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>
    <div class="row lt-p50">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <h2 class="sm-heading-pm">Why did you join ProMazo?</h2>
            <p class="lg-copy space-below-20">I applied to an internship because I saw a lot of opportunity and value in applying my studies to solve real world problems. There were no other outlets for such hands-on professional development, and I wanted to challenge myself. I joined the council when I discovered that even as students, we had the ability to influence and build a company that could benefit our peers and countless others. The dynamic start-up nature of ProMazo was a natural environment for me to learn, grow, and unleash my own potential while enabling others to do the same.</p>
            <h2 class="sm-heading-pm">What have you learned?</h2>
            <p class="lg-copy space-below-20">I have learned so much in my eight months with ProMazo. From working in an internship developing software I never would have believed I could create to honing my management skills, I am learning how to effectively collaborate and lead others. On the short list, I am learning how to give professional pitches, recruit and interview prospects, train others, streamline processes, write contracts, and interface with clients. My favorite part of ProMazo is that I actually have the power to influence change and implement my ideas rather than just discuss them. I have learned to speak up, believe in my ideas, and work hard to get the job done.</p>
            <h2 class="sm-heading-pm">What is the most interesting thing you have done?</h2>
            <p class="lg-copy space-below-20">I would have to say there are two pretty interesting things I have done with ProMazo. One is developing management software and subsequently training managers at the company on how to use it. The other is implementing new committees and processes to support ProMazo’s future endeavors.</p>
            <h2 class="sm-heading-pm">How did ProMazo help you determine what you want to do?</h2>
            <p class="lg-copy space-below-20">I gravitate towards start-ups and strive to start my own company one day, as well as a non-profit to help unlock women’s potential around the world. As we build ProMazo from the ground up, I am learning how to navigate and make the most of such a rapidly evolving environment. I also realized how much I love mentoring and helping my peers discover their own talents and passions. I now know that I need to work for a company that will create more opportunities for those around me; I want to serve as a catalyst that propels others toward successful, meaningful futures.</p>
            <h2 class="sm-heading-pm">How did ProMazo prepare you for life after college?</h2>
            <p class="lg-copy space-below-20">ProMazo has prepared me professionally in multiple ways. I feel comfortable pitching and interfacing with clients. I can present my own ideas and products to managers and clients. Even my understanding of successful teamwork and management has grown remarkably, preparing me to better communicate and lead in the future. And though I thought I had pretty decent time management skills before, I now feel that I am better poised to manage myself and handle stressful deadlines.</p>
        </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>
</div> <!--end container-fluid white-->


<div class="container-fluid white-bg">
    <a href="/stories/student-1">
    <div class="row ctr-p20 sss-stu-1-t teaser">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 logo">
            <p class="sm-heading-pm white-w-shadow space-below-20">Up Next&emsp;Frank Somich</p>
            <p class="sub-tagline-prs white-w-shadow">ProMazo has helped me realize my full potential as a student, worker and manager</p>
       </div>
       <div class="col-sm-2"></div>
       <i class="icon-pm-down-arrow white-w-shadow"></i>
    </div>
    </a>

</div> <!--end container-fluid white-->

        
{% endblock %}