{% extends 'microsite/base_home.html' %}

{% block page_title %}Student Stories - 2{% endblock %}

{% block body %}


<div class="container-fluid white-bg mk-rm-4-teaser">

     <div class="row student-data sss-stu-2">
         <div class="col-sm-1"></div>
        <div class="col-sm-3 student-pic">
            <img class="img-circle student-profile-pic" src="../static/microsite/images/bkgrnds/ss-sam-profile.jpg" />
        </div>
         <div class="col-sm-8 student-bio">
            <p class="tagline-prs white-w-shadow">Sam&nbsp;Melgar</p>
            <p class="lg-copy white-w-shadow" >Class of 2016<br />University of Notre Dame<br />IT&nbsp;Management</p>
        </div>
    </div>
    <div class="row student-skills">
        <div class="col-sm-12">
            <ul class="skills-list">
                <li  class="interests-label">Interests:</li>
                <li>Cycling</li>
                <li>Technology</li>
                <li>Visual data</li>
                <li>Good documentaries</li>
            </ul>
       </div>
    </div>
    <div class="row ctr-p50" style="padding-top: 10px">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <p class="fun-fact italic"><span class="sm-heading-pm">Fun fact:</span>&ensp;Participated in the 2010 Youth Olympic Games.</p>
       </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>
    <div class="row ctr-p100 quote sss-stu-2-quote">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6 logo">
            <p class="sub-tagline-prs white-w-shadow quote-copy">"I first joined ProMazo hoping to learn the job skills that I would need later in life. Working with my project team, I not only gained these skills, but also became part of the ProMazo community and grew as a person."</p>
            <p class="attribution">&mdash; Sam Melgar</p>
       </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>
    <div class="row lt-p50">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <h2 class="sm-heading-pm">Why did you join ProMazo?</h2>
            <p class="lg-copy space-below-20">I joined ProMazo because I wanted to extend my education beyond classroom walls and did not want to wait until after college to begin that kind of learning.</p>
            <h2 class="sm-heading-pm">What have you learned?</h2>
            <p class="lg-copy space-below-20">As an IT Management major working on an IT project, I learned so much about the system development process and gained very useful skills within the field. ProMazo also provided me with great exposure to what doing real work with a team is like. Through the experience, I learned how to be a better leader and follower. I learned that the two are not mutually exclusive and, at their best, are inextricably linked.</p>
            <h2 class="sm-heading-pm">What is the most interesting thing you have done?</h2>
            <p class="lg-copy space-below-20">Many stages of the project were really interesting, but the most memorable one came when the tools we developed for our project were released. We received positive feedback from users who could see the tools making a difference in their lives. Knowing that we played a role in making it happen, it was a great feeling to have.</p>
            <h2 class="sm-heading-pm">How did ProMazo help you determine what you want to do?</h2>
            <p class="lg-copy space-below-20">ProMazo provided me with real experience working in my field of interest before graduating. It allowed me to learn more about myself and where I see myself in the future. I also think it provided a realistic view of what IT Consulting is like and as a result of my experiences has gotten me hooked on the field.</p>
            <h2 class="sm-heading-pm">How did ProMazo prepare you for life after college?</h2>
            <p class="lg-copy space-below-20">I feel more ready to start post-college life with a running start. I’ve experienced what it’s like to collaborate with a team producing work for real clients. I believe the best way to learn some things is by doing them. ProMazo has given me the opportunity to learn by doing, while providing support and guidance as I learned.</p>
        </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>
</div> <!--end container-fluid white-->


<div class="container-fluid white-bg">
    <a href="/stories/student-3">
    <div class="row ctr-p20 sss-stu-3-t teaser">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 logo">
            <p class="sm-heading-pm white-w-shadow space-below-20" >Up Next&emsp;Mary Schlegel</p>
            <p class="sub-tagline-prs white-w-shadow">Promazo continues to be an education unlike anything I have ever experienced before</p>
       </div>
       <div class="col-sm-2"></div>
       <i class="icon-pm-down-arrow white-w-shadow"></i>
    </div>
    </a>

</div> <!--end container-fluid white-->

        
{% endblock %}