{% extends 'microsite/base_home.html' %}

{% block page_title %}Student Stories - 1{% endblock %}

{% block body %}


<div class="container-fluid white-bg mk-rm-4-teaser">

     <div class="row student-data sss-stu-1">
         <div class="col-sm-1"></div>
        <div class="col-sm-3 student-pic">
            <img class="img-circle student-profile-pic" src="../static/microsite/images/bkgrnds/ss-frank-profile.jpg" />
        </div>
         <div class="col-sm-8 student-bio">
            <p class="tagline-prs white-w-shadow">Frank&nbsp;Somich</p>
            <p class="lg-copy white-w-shadow" >Class of 2015<br />University of Notre Dame<br />IT&nbsp;Management & Applied&nbsp;Math</p>
        </div>
     </div>
    <div class="row student-skills">
        <div class="col-sm-12">
            <ul class="skills-list">
                <li class="interests-label">Interests:</li>
                <li>Sports</li>
                <li>Music</li>
                <li>Mobile technology</li>
                <li>Reading</li>
            </ul>
       </div>
    </div>
    <div class="row ctr-p50" style="padding-top: 10px">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <p class="fun-fact italic"><span class="sm-heading-pm">Fun fact:</span>&ensp;Was in an alternative rock band in high school.</p>
       </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>

    <div class="row ctr-p100 quote sss-stu-1-quote">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6 logo">
            <p class="sub-tagline-prs white-w-shadow quote-copy">"ProMazo has helped me realize my full potential as a student, worker, and manager. It gave me the chance to work with a wide range of companies from Fortune 500's to small start-ups. During my job search, interviewers were often astonished by the level of real life experience I had during college."</p>
            <p class="attribution">&mdash; Frank Somich</p>
       </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>

    <div class="row lt-p50">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <h2 class="sm-heading-pm">Why did you join ProMazo?</h2>
            <p class="lg-copy space-below-20">I joined ProMazo on its first project with IBM. I found great value in completing real work for real companies. In fact, interviewers were often astonished by the level of relevant experience I had accumulated in my time at college. The experience on that project convinced me this organization was a unique and meaningful opportunity for students. Joining the council has allowed me to help see this opportunity grow for more and more students.</p>
            <h2 class="sm-heading-pm">What have you learned?</h2>
            <p class="lg-copy space-below-20">ProMazo has offered many unique experiences for me, from building out a division of the organization to managing multiple projects at once. I have never found another organization where I could start out as a team member and within two short years be leading over twenty students on real life projects. As a team member, I was able to understand how work teams operate and then build upon this experience as I moved up to Project Manager and eventually to Council Member. Working with ProMazo helped me learn time management and strong communication skills, all while allowing me to explore multiple different industries and companies. This is what I'll take most from ProMazo.</p>
            <h2 class="sm-heading-pm">What is the most interesting thing you have done?</h2>
            <p class="lg-copy space-below-20">The first project I worked on, a recruiting analysis for IBM, presented what may have been the most interesting opportunity. At the close of the project, my team presented to 17 executives of the company &mdash; VPs and higher. The highest ranking person in the audience was the CIO, so this was a big time audience. To be able to present our suggestions (we were a team of college students) to this audience, and then have them accept and implement our advice, was really special.</p>
            <h2 class="sm-heading-pm">How did ProMazo help you determine what you want to do?</h2>
            <p class="lg-copy space-below-20">Working with ProMazo helped confirm my passion to work in technology. I got to work on multiple technology projects ranging from websites to databases, providing a new and unique viewpoint each semester. As I worked on different projects, I realized I not only loved technology, but also the opportunity to change tasks on a consistent basis. As a result, I have decided to become a consultant for a Microsoft/Accenture joint venture where I can continue to help new and different companies every year. </p>
            <h2 class="sm-heading-pm">How did ProMazo prepare you for life after college?</h2>
            <p class="lg-copy space-below-20">As mentioned above, the lessons I've learned will be most useful. The management and meeting side of ProMazo has prepared me to be effective and efficient in the workforce, while also helping me balance a busy life. ProMazo quickly puts you in a leadership position and allowed me to hone my management style and focus. Finally, after seeing and helping the founders build this organization, ProMazo has reinforced my belief that following my passion will take me far in life.</p>
        </div>
        <div class="col-sm-2 col-lg-3"></div>
    </div>

</div> <!--end container-fluid white-->


<div class="container-fluid white-bg">
    <a href="/stories/student-2">
    <div class="row ctr-p20 sss-stu-2-t teaser">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 logo">
            <p class="sm-heading-pm white-w-shadow space-below-20" >Up Next&emsp;Sam Melgar</p>
            <p class="sub-tagline-prs white-w-shadow">I not only gained these skills, but also became part of the ProMazo community and grew as a person</p>
       </div>
       <div class="col-sm-2"></div>
       <i class="icon-pm-down-arrow white-w-shadow"></i>
    </div>
    </a>

</div> <!--end container-fluid white-->


{% endblock %}

